[2014-12-09 09:48] gkorland opened #3 "Add a way to limit the log size"
Add a way to limit the log size

[2015-03-27 13:38] dragn opened #6 "Logstash JSON format changed"
Fields names in latest version of logstash was changed, (as indicated here https://gist.github.com/jordansissel/2996677). Now there is only two fields that start with `@`: `@version` and `@timestamp`.

[2015-09-03 12:22] vanthome commented on #6
Solved by 0.2.0

[2015-09-03 12:22] #6 closed

[2015-09-03 12:23] vanthome commented on #3
Out of scope. You need a different service to clean up your log indexes. With 0.2.0 this is easy as indexes are created on a daily basis by default so you can easily identify what to delete.

[2015-09-03 12:23] #3 closed

[2015-10-30 21:14] johnculviner opened #10 "Index name must have a prefix and suffix"
I'd prefer my index just be 'foo-bar' and not 'foo-bar-2015-10-30' which is consistent with this thing before it was re-written. Perhaps an exposed hook to getIndexName is in order so that one can do whatever they want?

[2015-10-30 21:20] johnculviner commented on #10
The old one just used to support 'indexName' which i suppose could be the one that is used if it is specified rather than the prefix and suffix. Let me know if you think this is a good idea. I could do a PR but for now I'm using the old one (0.1.1).

It might be wise to bump up to version 1.0 too since semantic versioning isn't really being followed in this case:

[code]

[2015-10-31 19:54] jackdbernier commented on #10
It would be nice to add it back and also I agree with bumping the version to 1.0. Specially with regards of this other breaking change #9

I do not use winston anymore (for no specific reasons) but I think it safe to say that if you have the time you should submit a PR.

[2015-11-08 22:50] vanthome commented on #10
Ok, I have added support for the `index` property which allows to specify just an index name to use, without pattern. Regarding visioning, I think I want to go for 1.0.0 only after having it run in production for a longer time.

[2015-11-08 22:50] #10 closed

[2015-11-09 02:00] jackdbernier commented on #10
@vanthome I would suggest using prerelease versioning as proposed here https://github.com/npm/node-semver#prerelease-identifiers

`1.0.0.beta.0` for instance. It's your call after all.

[2015-11-09 15:30] johnculviner commented on #10
Thanks @vanthome you beat me to it!

[2016-02-23 09:17] leibale opened #14 "if fireAndForget and have callback the log will not send"
[code]
and if it's not clear, the `return` will stop the function..

[2016-03-29 17:10] davibe commented on #14
`fireAndForget` is not even used in the rest of the code so it's not making any sense.

[2016-03-29 17:53] leibale commented on #14
https://github.com/vanthome/winston-elasticsearch/blob/master/index.js#L89

[2016-03-29 19:41] davibe commented on #14
i mean besides that line that does not make sense, it's not used anywhere else

[2016-07-05 11:54] fargozhu opened #16 "Can't start With Log error"
node_modules/winston-elasticsearch/index.js:94
    message,
           ^
SyntaxError: Unexpected token ,
    at exports.runInThisContext (vm.js:73:16)

[2016-07-05 17:26] RTsGIT opened #17 "Application doesn't exit."
In a basic index.js code, I addded winston elasticsearch pointing to a server. Winston-elasticsearch trace shows successful connection, but after logging, the application doesn't exit.

Any suggestions?

[2016-07-10 02:34] jackdbernier commented on #17
Can you share some code example to reproduce the issue ?

[2016-07-10 03:05] jackdbernier commented on #16
This module requires a version of node that supports ECMAScript 2015 (ES6). What version of node are you using ? You may need to upgrade or start your application with the `--harmony` flag.

If upgrading is not an option, you can consider using babel https://babeljs.io/.

[2016-07-10 03:06] jackdbernier commented on #16
I agree this is not obvious from the start. This should be highlighted in the README file.

[2016-07-10 04:07] RTsGIT commented on #17
[code]

[2016-07-10 16:01] jackdbernier commented on #17
@vanthome will have to jump in. I haven't touched this project in a very long time. Thomas will know better. He is the one taking care of it nowadays.

I suspect either the checkEsConnection function or the elasticsearch client `keepAlive` (defaulted to True ) to be the issue here. I believe that you can add `winston_es.client.close()` to close the underlying elasticsearch client to test the assum

[2016-07-11 20:32] leibale commented on #14
this code has been deleted in b665de10e1c8e231b031835a873fc758a5c1638a

[2016-07-11 20:32] #14 closed

[2016-07-12 07:44] fargozhu commented on #16
I'll give it a try...many thanks!

[2016-07-12 07:45] #16 closed

[2016-07-12 07:45] fargozhu commented on #16
Works with the flag on.

[2016-07-20 18:42] TomBarryy opened #18 "indexPrefix does not appear to work"
Following the examples, the below works:
[code]

I can see logs in elastic search under `logs-<date>`

However I would like to change the index to `MyAppName-<date>`. I tried doing with the following:

[code]

However these logs do not appear in elastic search and I cannot see any error messages as to why. Have the esTransportOpts changed?

[2016-07-21 17:03] TomBarryy commented on #18
Solved the issue. Index names cannot contain upper case letters (at least as the first character). This should be added to the documentation as I would think a lot more people may encounter this error.

[2016-07-21 17:03] #18 closed

[2016-08-01 18:09] theodorick opened #19 "Error during bulk writer flush is not recoverable"
If there is an error while writing to Elasticsearch, the next bulk write is never scheduled. This can easily be reproduced by running a local Elasticsearch node and cycling it off and on during logging. After coming back online the code never resumes sending to ES. Your promise chain does not call schedule() when there is an error, so how is it supposed to resume?

BulkWriter.prototype.tick = func

[2016-08-15 17:20] afrozl opened #20 "unable to add transport"
Winston version 2.2.0

[code]

[2016-08-20 20:19] eshao commented on #17
I am also having this problem.

Setting keepAlive to false doesn't work.

However, as @jackdbernier mentioned, something like `winston.transports.elasticsearch.client.close()` will work.

[2016-08-20 22:02] vanthome commented on #17
ok, do you have any suggestion when to close it?
I don't think it's efficient to close it after each and every logged entry.
Usually the logging only ends when the application is stopped.

[2016-08-24 17:00] jdxlabs commented on #17
@eshao did you really try this solution ?

[2016-08-24 17:09] jdxlabs commented on #17
@eshao actually, it works when I close the client directly, but there is a latency of 1.5 seconds at the end of the script.

[2016-09-23 23:00] karkul opened #21 "How to add some extra fields to the mapping."
Hi Everybody,

I'm looking for a way about how to include some additional fields to the basic MappingTemplate to do the information make more sense for us. But I have not luck to find a good example, so can you please give me a hand with that?

I tried to modify the transformer.js & the index-template-mapping.json files but it doesn't work.

We want to add some information like: module nada and de

[2016-09-27 22:32] #21 closed

[2016-10-26 20:05] vanthome commented on #20
could you solve the problem? For me it works fine with winston 2.2.0

[2016-10-26 20:07] vanthome commented on #19
There have been some changes to this in 0.4.0 can you re-check this?

[2016-10-29 13:10] huseyinbabal opened #23 "consistency parameter removed in ES 5.0"
consistency parameter removed in ES 5.0 so, we need to be able to choose not to use consistency parameter

[2016-11-12 01:30] willyaranda commented on #23
Having the same problem, @vanthome please check the PR #24

[2016-11-12 13:13] willyaranda commented on #23
Fixed by @huseyinbabal on #24 . @vanthome could you close this?

Thanks!

[2016-11-12 13:17] #23 closed

[2016-11-17 11:05] superbogy opened #25 "unwork with elasticserach 5.0"
unwork with elasticserach 5.0. use es2.3.5 success, then upgrade to se5.0, it doesn't work; please check~!(use the latest package version2.3， winston and winsto-elasticsearch)

[2016-11-18 21:23] sspilleman commented on #25
I can confirm that at least "Elasticsearch.prototype.log" function is not called so nothing is even sent to elasticsearch....

[2016-11-25 16:32] quex46 commented on #25
If you try to log error on bulk writing it will say:
```request [/_bulk] contains unrecognized parameter: [consistency]"```

So if you comment [this line](https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L67) (to omit "consistency" param) then it will start to work fine. Seems its not a problem of module itself, but sdk according to the docs [here](https://www.elastic.c

[2016-11-25 17:06] quex46 commented on #19
probably, related to [#25](https://github.com/vanthome/winston-elasticsearch/issues/25).
what server version you are using?

[2016-12-01 10:16] #19 closed

[2016-12-01 10:16] #25 closed

[2016-12-15 23:22] phillipwei commented on #20
I'm seeing something similar. Using winston@2.3.0, instantiating with

[code]

Error I'm getting:
[code]

[2017-01-11 12:35] MatthD opened #26 "Update element"
Hello, first of all thanks for this open-source usefull project .

In my project we use Winston-es to insert & we want now to update some documents , is this possible with Winston-es ?

thks

[2017-01-31 16:43] libor-vilimek opened #27 "CPU usage when Elasticsearch is down"
We have serious issues when our Elasticsearch server go down, the usage of CPU starts growing rapidly.

It would be really nice, if this module first tries to reconnect if some request fails on Timeout. And after it looks ok, it starts sending all the logs it couldnt send before.

Also growing of memory usage can kill the whole app, if it grows too much. An option "how much logs you keep" when can

[2017-02-02 09:46] willyaranda opened #28 "Please release 0.5.0 in npm"
Current version in npm is 0.4.2, which is not fully compatible with ES5 as per your docs.

I would love to just `npm install winston-elasticsearch` instead of using your master commit from here :)

Thanks @vanthome

[2017-02-02 16:16] vanthome commented on #28
Hi, I would have done it long time ago but I failed to get the travis.ci tests working because of some JVM version issues. Locally I verified with ES5 and it works. Can you confirm that the master works for you as well? In that case I will push it out.

[2017-02-02 18:42] willyaranda commented on #28
I have it in production (we send winston logs to ES, but if it fails, we don't really care), and everything seems to work so far. Looking at the changesets, they are correct IMO.

[2017-02-03 08:53] vanthome commented on #28
It's out

[2017-02-03 08:53] #28 closed

[2017-02-03 12:59] willyaranda commented on #28
Thanks!

2017-02-03 9:53 GMT+01:00 Thomas Hoppe <notifications@github.com>:

--
Guillermo López Leal

[2017-05-23 12:33] christiansaiki commented on #17
Hey guys, any updates on this matter?
I'm facing the same issue here.
As @jdxlabs and @vanthome pointed, I don't think that is efficient to close the client at every log entry.
Do you have any suggestion of how to close the client in a efficient manner?

[2017-05-23 17:52] vanthome commented on #17
@christiansaiki can you explain the actual issue, I cannot completely follow @RTsGIT words.
As far as I understand the app does not exit when you want to end it because of the open ES connection?

[2017-05-23 17:55] christiansaiki commented on #17
@vanthome, yes!
That is the issue that I'm facing

[2017-05-23 19:12] vanthome commented on #17
OK and what exactly means existing the application - `process.exit()`? In our case we stop applications mostly by stopping the container it is running in and so there is no way in node preventing a shutdown.

[2017-05-30 07:54] avitaler opened #29 "Allocation failed - JavaScript heap out of memory"
Hi,
Received error ....  using winston and winston-elasticsearch
any idea ?
Node 6.10
winston 2.31
winston-elasticsearch 0.5

==== JS stack trace =========================================

Security context: 000002A973FCFB61 <JS Object>
    1: log [C:\project\dist\server\node_modules\winston\lib\wins
ton\logger.js:~109] [pc=000000A6B0078D1A] (this=0000037A4E023269 <JS Object>,level=000001472E47B4B9

[2017-07-18 17:32] sebastianovide opened #32 ""status" field name not written in elasticsearch"
this is **not** working. Not errors thrown... the log is displayed in the console but not in elasticsearch....
[code]
this **is** working (see that the status field has been renamed to sstatus with two s).
[code]
It was working until last night....

any ideas ?

[2017-07-26 18:19] fernandoghisi commented on #20
Same error for me, with a simple DailyRotateFile (winston 2.3.1)

Code:
[code]
Error:
[code]

[2017-07-26 18:25] fernandoghisi commented on #20
In fact, my code works with winston 1.1

[2017-07-26 21:13] vanthome commented on #20
@fernandoghisi that has nothing to do with this transport as far as I can see.

[2017-09-01 04:14] edweip3 commented on #17
any progress on this? what @christiansaiki means is that if you run this in a non-server application, the ES client is keeping the connection open and thus the application never exits.

[2017-09-01 07:14] Razzeee commented on #21
So were you able to adress this?

[2017-09-01 19:10] vanthome commented on #17
ok, in this case, my approach would be to get the ES client via `transport.client` and then just `close()` the connection. The problem is that such a method does not exist, I just checked. So even if the transport would take care of it, I don't see how to actively close a connection. Maybe we should ask for this on ES client... anyone?!

[2017-09-18 15:44] MirkoTV commented on #20
Any help on this one? same error trying to add an Elasticsearch transport

[2017-09-18 16:45] vanthome commented on #20
@MirkoTV what version of Winston are you using? Obviously it works in the tests, just try to run them:

https://github.com/vanthome/winston-elasticsearch/blob/master/test/test.js#L48

[2017-09-18 18:27] MirkoTV commented on #20
Thanks for answering @vanthome, I am using winston 2.3.0, I had installed winston long time ago, so not sure why but removing it and installing at the same time with winston-elasticsearch did the trick.

[2017-09-18 19:51] MirkoTV opened #33 "Especify document Id"
@vanthome Is there a way to specify the document Id we will send to elasticsearch for each log we send to winston-elasticsearch? This became really important in my scenario since I want to override/update a document in elastic but I dont find the way whitout this feature.  Something like the "document_id" we have in logstash

[2017-09-19 06:59] vanthome commented on #20
👍

[2017-10-04 10:20] MGlahn opened #36 "Cannot find module 'index-template-mapping.json'"
If I leave out ` ensureMappingTemplate: false` in the transport options object I will get following error:
`Cannot find module 'index-template-mapping.json'`
If I "force it" to get the file by adding __dirname to the path (`const rawdata = fs.readFileSync(__dirname + '/index-template-mapping.json'); `) then I get an error in the end of my ES trace:
........
`
    }
  }
  <- 400
  {
    "error": {

[2017-10-11 11:56] null4bl3 opened #37 "file path broken."
https://github.com/vanthome/winston-elasticsearch/blob/e053a69daf9b16501746d26c8b7fc140a08f7182/index.js#L183

This line should be changed to:

` const rawdata = fs.readFileSync(__dirname + '/index-template-mapping.json');`

In order to actually reference the json file.

The reference is also not providing any method of error handling which can cause memory leaks and other nasties on heavy loads,

[2017-10-18 15:09] krismeister commented on #36
Try to use the json in a generic object instead of a json file you're loading in node. Pass the object in the options object as `mappingTemplate`

[2017-10-19 16:22] afreeland commented on #36
I had same issue...

[2017-10-19 17:24] krismeister commented on #36
I'm not sure its not an issue. He assumes you want to edit the Json to meet your needs, and pass it in as a generic object.

[2017-10-20 03:57] #36 closed

[2017-10-20 03:57] vanthome commented on #36
please try with latest release

[2017-10-20 03:57] vanthome commented on #37
please try with latest release

[2017-10-20 16:20] krismeister opened #38 "Space in Debug log name"
This plugin uses the string 'bulk writer' as its name for [debug](https://github.com/visionmedia/debug) Unfortunately by having a space in the name, it is not possible to silent this output specifically:

**This does not work**
[code]

**This does work but is not ideal**
[code]

**Feature Request**
The debug log be given a name without the space character, and consider making a more specific ident

[2017-11-07 16:10] eschwartz opened #40 "Please publish v0.5.4 on npm"
v0.5.1 [introduced a major bug](https://github.com/vanthome/winston-elasticsearch/blame/e053a69daf9b16501746d26c8b7fc140a08f7182/index.js#L183) (#37). This bug was [fixed in v0.5.4](https://github.com/vanthome/winston-elasticsearch/commit/260cccb593d4c1b04abebc54688316d5a26ddf7a#diff-168726dbe96b3ce427e7fedce31bb0bcR184). But v0.5.4 was never published to npm, which means the latest version of thi

[2017-11-21 21:01] afreeland opened #41 "HTTP response status 200 but body declares error status 400"
I was logging some data to elasticsearch that looked like the following.

A simple message, an evt name, an **array of objects**, and some rewrites for general app information
[code]

After utilizing this in elasticsearch for awhile it seemed that the **marks** field didnt really need to be an object...that I could just stringify the array and that would be sufficient for us.

Now **marks** gets s

[2017-12-12 13:54] philipstanislaus commented on #40
@vanthome please publish the latest version of this project to npm. Thanks for the great work! 👍

[2017-12-12 14:19] vanthome commented on #40
Did you verify, that it works for you?

[2017-12-12 14:46] vanthome commented on #40
I just pushed some more changes.

[2017-12-13 07:31] philipstanislaus commented on #40
@vanthome thanks for your updates!

Not sure we are talking about the same thing though – I am referring to this package: https://www.npmjs.com/package/winston-elasticsearch which was last published 2 months ago and stands on version 0.5.3.

Would be great if you could run `npm publish` to push up v0.5.5. Thanks!

[2017-12-13 09:39] vanthome commented on #40
Done, published 0.5.5.

[2017-12-13 09:39] #40 closed

[2017-12-13 09:41] vanthome commented on #38
Sorry, totally missed this PR. Can you rebase it and re-create it?

[2017-12-13 09:42] vanthome commented on #37
Please try with now published 0.5.5 and re-open if not fixed.

[2017-12-13 09:42] #37 closed

[2017-12-13 09:45] philipstanislaus commented on #40
Thanks!

[2017-12-13 09:47] #20 closed

[2017-12-13 09:49] vanthome commented on #32
Hi, no idea. Can you re-check with latest version?

[2017-12-19 07:56] cjy37 commented on #27
+1

[2017-12-19 09:57] vanthome commented on #27
Sure, this all makes sense. you can pass your own ES client and use the ` maxRetries` option. Actually, the default is 3 so it should not run mad. But probably whenever a new message is logged, the client tries to connect again. So we would need some kind of circuit breaker. Dies that match your observation?

https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/configuration

[2017-12-30 16:06] vanthome commented on #33
Hmm, can you point out where and how this is specified through the winston interface? I think winston does not know about something like a document ID. You can however just generate your own and push it to winston like any other JSON structure. Would that serve your purpose?

[2017-12-30 16:07] vanthome commented on #32
@sebastianovide can you reproduce this with the latest version?

[2017-12-30 17:15] vanthome commented on #26
Here you can see how it's possible to find an entry using the transport:

https://github.com/vanthome/winston-elasticsearch/blob/master/test/test.js#L75

But modifying is not implemented yet. It should be no problem to implement it outside however. Also updating ES documents is not recommended. You should rather delete and re-index.

[2017-12-30 17:15] #26 closed

[2017-12-30 17:16] vanthome commented on #38
Solved with last version. Debug key is called just `winston:elasticsearch` now.

[2018-01-06 23:05] #38 closed

[2018-01-06 23:06] vanthome commented on #38
Please check solution an open again if not fixed.

[2018-01-06 23:08] vanthome commented on #29
Nope, maybe it's related to #27. Was ES unavailable for some time when this happened? Also can you reproduce with the latest version of this module?

[2018-01-25 01:22] bwinkers commented on #17
Would love to see a close() function.

[2018-02-09 17:17] afrozl opened #42 "reconnect/retry"
I wanted to verify if this is expected behavior. If my ES instance is off-line,  logging stops as expected. However, once the ES instance is back on-line, logging does not resume. I have to restart the app to force a reconnection to ES and resume logging. Is this by design?

[2018-02-09 18:30] vanthome commented on #42
This is related to https://github.com/vanthome/winston-elasticsearch/issues/27 where I explained that by default the ES client has a ` maxRetries` of `3` before it gives up. You could provide your own client and override this. I agree however, that or a module like this, this is not ideal. I will see whether I can come up with a built-in retry mechanism.

[2018-02-09 19:25] afrozl commented on #42
that would be great. Restarting app(s) for a logging outage seems backwards

[2018-02-25 14:58] sharonass opened #43 "support for elasticsearch 6.X"
Hello,

I'm trying to use this lib with elasticsearch 6.0 and I get problems with the template, when i changed to custome template I get no error but I dont see it indexing to elasticsearch

Does this lib supports EC v6.X, if not is there any plan to support it soon?

[2018-03-02 09:55] vanthome commented on #43
I have released a new version with some changes to the default mapping, it has been tested with 6.x. Please try.

[2018-03-02 09:55] #43 closed

[2018-03-02 09:55] vanthome commented on #42
With the last release I have enhanced the situation considerably. The strategy is now that the lib is infinity retrying to connect at a reasonable frequency

[2018-03-02 09:55] #42 closed

[2018-03-02 10:06] vanthome commented on #27
Problem solved with latest release.

[2018-03-02 10:06] #27 closed

[2018-03-02 10:07] vanthome commented on #41
Can you please check again with the latest release and let me know?

[2018-03-02 10:08] vanthome commented on #33
Can you please answer my question?

[2018-03-14 16:07] sharonass commented on #43
which release?

[2018-03-14 17:17] vanthome commented on #43
the latest obviously.

[2018-04-25 15:26] vsrinivasdsd opened #46 "unknown setting - index.cache.field.type"
hello,

i have setup elasticsearch(6.2.4) and kibana(6.2.4) in my local docker installation.
the docker images of both have been taken from the official docker hub site.

i have a node js application in which i am using winston(2.4.2), elasticsearch(14.2.2) and winston-elasticsearch(0.5.9) to try to log to my elasticsearch setup.

below is my code:
initialize logger -------------------------------

[2018-04-26 07:47] vanthome commented on #46
I think you are right, this seems to be an ancient setting and even all these:

[code]

seem not to be supported anymore. My question is, did you see this error only by tracing the HTTP traffic or was this also logged in the exception handler?

[2018-04-26 08:02] vsrinivasdsd commented on #46
all the trace output i listed above, i get it on the Kitematic console, which is the STDOUT for all logs generated from my application.
there is no indication that any of the logs were generated because of an exception.

i have attached a text file with all the STDOUT logs from the moment my application connects to elasticsearch till the said [root cause] log, to get a better picture.

[Logs.txt](

[2018-04-26 13:06] Senorihl opened #47 "unable to transform a field to ip or geo_point type"
For a project I want to log an ip to elasticsearch. I manage this by adding a ip field / geo_point field at root of document, I add a trnasformer to populate these fields but when I look to the mapping given by elastic search nothing's beeing applied.

Here's my mapping :

**mapping.js** :
[code]

here's my transport's opts :

[code]
And finally the given mapping by elastic :
[code]

[2018-04-28 14:28] vanthome commented on #47
what do you mean by "search nothing's beeing applied."? the type of the `geocoding` field?
Please try again with the just released version 0.6.0 of Winston Elasticsearch. I suspect that it has to do with the problem described in the [CHANGELOG](https://github.com/vanthome/winston-elasticsearch/blob/master/CHANGELOG.md).

[2018-05-16 16:51] nofear87 commented on #43
@sgilligan I use default mapping and yours, but both ends with the following error:

Elasticsearch index error { type: 'illegal_argument_exception',
  reason: 'Rejecting mapping update to [logs-2018.05.16] as the final mapping would have more than 1 type: [_doc, log]' }

[2018-05-16 16:54] vanthome commented on #43
that's probably because you try to change an already existing index. Can you try to delete the index and then try again?

[2018-05-16 17:10] nofear87 commented on #43
@vanthome thanks for fast response. I have delete it. Then set ensureMappingTemplate = true and provide the provided mappingTemplate (from @sgilligan). The error remains.

[2018-05-16 17:14] nofear87 commented on #43
also defaults not working:

const elasticClient = new elasticsearch.Client({
    host: 'localhost:9200',
});

const esTransportOpts = {
    level: 'info',
    client: elasticClient
};

[2018-05-16 19:49] vanthome commented on #43
Are you sure that nothing else, no other application or app instance is creating the type `_doc`? Just try to run the tests with a plain local ES instance and you will see it works.

[2018-05-16 19:59] nofear87 commented on #43
I run a fresh installer docker elk stack. Indices are empty.

[2018-05-17 03:16] sgilligan commented on #43
sorry @nofear87 I didn't come across that error in my setup

[2018-05-17 07:50] vanthome commented on #43
I also don't see that this is the module's fault. We use `_doc` now as mapping type because it's the default in ES https://github.com/vanthome/winston-elasticsearch/blob/master/index-template-mapping.json#L11. Something must use/ create a log mapping. Maybe if you are using a ready made ELK stack, it launches Logstash which is doing that. Try a plain ES instance please.

[2018-05-17 08:16] exalted opened #48 "Question about buffer size & time"
Hey there,

Thank you for all you've been doing here.

Looking at the code I couldn't tell for how long and what size limit is for the buffer used when a connection to Elasticsearch is lost.

I tested this with a trivial setup and it seems like for at least couple of minutes logs sent will not be lost even if ES is down/stopped, and when it comes back up all the logs are available as if they were

[2018-05-17 13:39] vanthome commented on #48
Hi, you can just check in the code, logs that are not written are buffered [in a buffer](https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L14) that is only limited by memory available on the system/ node process. So after some time the process will blow. It would be a useful enhancement to support a user specified maximum together with a ring-buffer implementation.

[2018-05-17 13:39] #48 closed

[2018-05-17 13:43] exalted commented on #48
Thanks @vanthome for replying back…

Ouch! I was thinking the same, but wanted to make sure before making any claims here.

[2018-05-22 06:53] Nagato-Yuki opened #49 "Cannot write to Elasticsearch 6.2.4 except using messageType: '_doc'"
When I leave messageType to default, I get this error
[code]
So I suspected that this change (https://www.elastic.co/guide/en/elasticsearch/reference/6.x/removal-of-types.html) is affected so you can't put to `logs-*/log` and you have to put to `logs-*/_doc` instead

[2018-05-22 06:57] vanthome commented on #49
This has been discussed here: https://github.com/vanthome/winston-elasticsearch/issues/43

[2018-05-22 07:54] Nagato-Yuki commented on #49
Thank you for fast response. But I've tried to came across this issue against newly installed ES instance since yesterday. I tried deleting all indices but it's not working until I found this breaking change issue. please help. I'm new to ES.

This is the code which is work.
- ES 6.2.4
- winston-elasticsearch 0.6.0
[code]

[2018-06-13 10:23] freddi301 opened #50 "winston 3"
Consider upgrading/adding support for winston 3

[2018-06-16 06:02] do5173 commented on #49
I get this error too.
[code]

[2018-06-16 06:04] xuming314 commented on #49
I get this error too.
[code]

[2018-06-16 06:14] xuming314 commented on #43
I get this error too.

1.run elasticsearch:
[code]

2.run app:
[code]
3.get error:
[code]

[2018-06-16 06:36] xuming314 commented on #49
I fix the bug.
need modify the index-template-mapping.json in node_modules/winston-elasticsearch,
and remove "mappings" property.

remove below code in  index-template-mapping.json.
[code]

[2018-06-17 21:57] vanthome commented on #47
@Senorihl  any news on this?

[2018-06-17 21:58] vanthome commented on #49
ok guys, I could finally reproduce this and it's fixed with the latest release. The problem was this line: https://github.com/vanthome/winston-elasticsearch/commit/4f4755955ed63f4e76d1938d4cc2114b1832fd2b#diff-168726dbe96b3ce427e7fedce31bb0bcR32

[2018-06-17 21:59] #49 closed

[2018-06-17 21:59] vanthome commented on #50
Done.

[2018-06-17 21:59] #50 closed

[2018-06-18 01:52] xuming314 opened #51 "<<TypeError: Cannot read property 'timestamp' of undefined>> in winston-elasticsearch v0.7.0"
[code]
[code]
I get a Error Msg:
[code]

[2018-06-18 02:03] xuming314 commented on #51
I think bug is in winston-elasticsearch/index.js line 18:
[code]

[2018-06-18 02:12] xuming314 commented on #51
which is right?
in readme.md Usage:
[code]
or
[code]

[2018-06-18 02:53] xuming314 opened #52 "Elasticsearch index error"
CREATE TEMPLATE------------------
Elasticsearch index error { type: 'mapper_parsing_exception',
  reason: 'object mapping for [fields] tried to parse field [fields] as object, but found a concrete value' }
Elasticsearch index error { type: 'mapper_parsing_exception',
  reason: 'object mapping for [fields] tried to parse field [fields] as object, but found a concrete value' }
Elasticsearch index er

[2018-06-18 04:40] vanthome commented on #52
I can't reproduce this, how does your `logger.log()` look like?

[2018-06-18 04:43] vanthome commented on #51
Oh, that's true, only the ` winston.createLogger()` variant seems to work although both are mentioned in the winston docs. I have just removed it in the README.md. ` winston.createLogger)` seems to be the way to go anyways according to the migration guide:
https://github.com/winstonjs/winston/blob/master/UPGRADE-3.0.md#top-level-winston-api

[2018-06-18 04:43] #51 closed

[2018-06-18 06:02] Senorihl commented on #47
No sorry you can close this issue i think

[2018-06-19 04:58] xuming314 commented on #52
step1:run elasticsearch 6.3.0
[code]

step2:run app.js
[code]
then, I get error message:
[code]

[2018-06-19 10:21] xuming314 commented on #52
In my ElasticSearch 6.3.0 and Kibana 6.3.0 and APM Server 6.3.0
I make a moleculer call exception, but APM Error is No data.
<img width="559" alt="apm1" src="https://user-images.githubusercontent.com/2031468/41591842-7044c90e-73ed-11e8-8941-810a585a0594.png">
<img width="644" alt="apm2" src="https://user-images.githubusercontent.com/2031468/41591844-71ec87f6-73ed-11e8-8ffa-d51fbb01d996.png">

[2018-06-19 14:55] #47 closed

[2018-06-19 15:03] vanthome commented on #46
Hi, can you confirm that this is gone with the latest release?

[2018-06-21 18:11] vanthome commented on #52
I could by no means reproduce this. Can you do an `npm list` to see what packages you are using?

[2018-06-22 14:15] ScottChapman commented on #17
Tragically this makes this really unusable in production...

I tried following the [Waiting for Winston logs to finish](https://github.com/winstonjs/winston#awaiting-logs-to-be-written-in-winston), but that flow doesn't seem to work. The `finished` event never gets triggered with this transport.

[2018-06-22 14:41] vanthome commented on #17
Are you sure, have you tried with the latest Winston 3.0 based release?
You can see here in the tests that the event is called `finish` and that it's fired:
https://github.com/vanthome/winston-elasticsearch/blob/master/test/test.js

[2018-06-22 15:04] ScottChapman commented on #17
Ah, the winston docs use `finished`. So, I do get that event.
However, I close my client when I get it, but my app still never exits. Here's the code:
[code]

As is, the event never triggers, so client doesn't close, event gets logged, app keeps running. If I use the correct event name, client does close, but event never gets logged.

Am I missing something?

[2018-06-22 16:42] ScottChapman commented on #17
Does anyone have an example where the app exits??

[2018-06-25 14:20] ScottChapman commented on #17
Since I can't figure this out, I've switched to using the `elasticsearch` client directly which works great... But would really like to use Winston for logging...

[2018-06-25 21:35] jwalton opened #53 "Arbitrary winston3 fields?"
With Winston3, if I run:

[code]

There doesn't seem to be a way to get `foo: "bar"` into elasticsearch.  The `transformer` isn't passed the entire `info` object from Winston - it only gets a `{level, message, meta}` object?

[2018-06-25 21:40] jwalton commented on #53
As a suggested fix, add a `format` option, which takes a standard Winston formatter; whatever is returned from the formatter is what is written to ES.  If `format` is present, `transformer` is ignored.  This way you can write a function that has full access to the `info` object from Winston, this is more consistent with the other Winston transports (most take a `format` option), and it's backwards

[2018-06-26 11:36] vanthome commented on #46
ok, closing this now.

[2018-06-26 11:36] #46 closed

[2018-06-27 16:15] vanthome commented on #17
What means "client does close, but event never gets logged."? So if the client get's closed it should exit...

[2018-06-27 16:59] rojarand opened #54 "TypeError: Cannot read property 'timestamp' of undefined"
I have

when I use my custom logger.
logger.js code (copied from Readme#Usage):

[code]

logger usage example:
[code]
The problem is with opts variable. It is used without checking if it is undefined

Try replace in index.js
line 17:
[code]
with
[code]

[2018-06-27 21:36] vanthome commented on #54
why are you not creating your logger as documented:
https://github.com/vanthome/winston-elasticsearch#usage
Please note that Winston 3.0.0 requires you to migrate your previous code.
Also I don't see why this `this.opts = opts || {};` should not work as intended, this is a known idiom. Can you try a newer version of Node?

[2018-06-28 04:14] rojarand commented on #54
1) There were two ways presented in documentation how to initialize winston with winston-elasticsearch. I tried use the first one, which was mentioned earlier in logger.js excerpt. Now I noticed this "first" way is not in docs.
2) The first way of setting up logger created instance of Elasticsearch where constructor input - `opts` was undefined. You assumed it is possible by checking it `this.opts

[2018-06-28 04:54] rojarand commented on #54
Oh... I took winston initialization not from github readme but from https://www.npmjs.com/package/winston-elasticsearch

[2018-06-28 06:05] vanthome commented on #54
So does it work now?

[2018-06-28 07:57] vanthome commented on #53
You can solve that by supplying a transformer. By default winston-elasticsearch assumes log statemenets like `logger.info('textual message', [optional object])` You are trying to log `logger.info([object])`. You can either stringify the object in the transformer or just route it to the `transformed.fields`. There are quite some combinations and also the mapping can be/ might need to be changed dep

[2018-06-28 09:29] jwalton commented on #53
The problem is, the transformer doesn't have access to the original object.  From [this bit here](https://github.com/vanthome/winston-elasticsearch/blob/master/index.js#L92-L98):

[code]

So if I call:

[code]

The transformer is going to be called with this object:

[code]

So the transformer doesn't have access to the `foo` field.

[2018-06-29 16:41] rojarand commented on #54
Yes. It is working in case when winston initialization is done according to https://github.com/vanthome/winston-elasticsearch#usage.

[2018-06-29 17:03] vanthome commented on #54
good, don't ask me why this is but I don't care and just use the new way.

[2018-06-29 17:03] #54 closed

[2018-06-29 17:23] jwalton commented on #53
Two other possible fixes for this:

* Add a `rawTransformer` option - if it's there, call that instead of `transformer`.
* [Here](https://github.com/vanthome/winston-elasticsearch/blob/master/index.js#L98), call `transformer(logData, info)`, so transformers can access the raw `info` object.

I'm happy to submit a PR.

[2018-06-30 20:43] vanthome commented on #52
@xuming314 any news here?

[2018-06-30 21:16] vanthome commented on #53
I got your point now, I have introduced a change that should work for you w/o complicating things further with a raw-transformer. Please check and close if ok.

[2018-06-30 21:45] jwalton commented on #53
This will do it; I'd recommend getting rid of [the delete lines](https://github.com/vanthome/winston-elasticsearch/blob/master/index.js#L88-L89) though - delete is a bit of a performance black hole in V8.  Thanks!

[2018-07-01 21:21] vanthome commented on #53
Hmm, yea, good point, it could be done in the transformer at will but for now I think I will keep it.

[2018-07-01 21:21] #53 closed

[2018-07-02 18:17] arjd4science opened #56 "Outdated README?"
The CHANGELOG suggests that winston-elasticsearch supports buffering when ES is down (https://github.com/vanthome/winston-elasticsearch/blob/master/CHANGELOG.md#057--2018-02-14), but the README still has it down as a `todo/unsupported` item (https://github.com/vanthome/winston-elasticsearch/blob/master/README.md#unsupported--todo).

[2018-07-03 18:14] arjd4science commented on #52
I'm getting this error myself, and can reproduce by logging any metadata that isn't an object.

using `winston#3.0.0` and `winston-elasticsearch#0.7.2`
`logger.info('test test', 'foobar');`

You do sort-of note that this is a limitation in the [README|https://github.com/vanthome/winston-elasticsearch#log-action]. The larger issue here though is just that, since you bulk insert documents into `elas

[2018-07-31 12:03] rajpootmohan commented on #33
Same issue for me too. I am not able to specify document id for a document while pushing using winston-elasticsearch.

[2018-07-31 15:04] vanthome commented on #33
Same question then for you:
can you point out where and how this is specified through the winston interface? I think winston does not know about something like a document ID. You can however just generate your own and push it to winston like any other JSON structure. Would that serve your purpose?

[2018-08-08 16:48] JuergenSimon opened #63 "Problem with Elasticsearch 6.1.4"
Hello,

I am using the following Elasticsearch instance:

[code]

This is running on localhost, port 9200 is mapped, works great via Postman etc. Now when I try to attach winston to this instance and log something, I get no documents in my index and the following error message:

[code]

This is currently completely stopping my efforts to use winston for logging from our app. Any idea what I can do

[2018-08-08 17:08] JuergenSimon opened #64 "TypeError: callback is not a function at bulk.forEach (.../node_modules/winston-elasticsearch/bulk_writer.js:85:10) at process._tickCallback (internal/process/next_tick.js:68:7)"
Hello,

trying to use winston-elasticsearch against elasticsearch instances 6.1.4 or 6.2.4 results in crazy amounts of these error messages:

[code]

[2018-08-08 19:43] vanthome commented on #63
Hi Jürgen,

seems like there is already a mapping already in the index named `_doc`?
To make sure you don't, you might want to try with a freshly purged ES instance.

BG, Thomas

[2018-08-08 19:53] ScottChapman commented on #17
Right it should, but it doesn't (at least for me).

Does anyone have any actual code example where you can log AND have the application exit?

[2018-08-08 20:02] vanthome commented on #17
can you post the output of the logger? I want to see what you makes think that the client "does close".

[2018-08-08 20:32] ScottChapman commented on #17
See my code above, change `finished` to `finish`. It prints the "All Finished" line and then just hangs.

![image](https://user-images.githubusercontent.com/1517892/43862733-8d0b63b0-9b28-11e8-8323-e1385df3ab18.png)

[2018-08-08 21:57] vanthome commented on #17
good, then in that event handler, can you try this (what I have proposed earlier in this thread)?

[2018-08-08 21:57] vanthome commented on #17
or you provide your own ES client, hold a handle to it and do the same.

[2018-08-09 17:17] JuergenSimon commented on #64
This error was due to winston-elasticsearch using winston@3.x while the rest of the project used winston@2.4.1. Updating winston to @3.0.0 everywhere fixed it.

[2018-08-09 17:17] #64 closed

[2018-08-09 18:59] vanthome commented on #63
Ok, great, can you drop me a private mail to thomas.hoppe@n-fuse.co  maybe?

[2018-08-09 20:25] vanthome commented on #17
Yes, sorry, you are right, if you have changed the event name, it's exactly what I propose. And you are sure that there is nothing else going on in your application, and what happens if you add a `process.exit()`?

[2018-08-10 13:09] ScottChapman commented on #17
Yea, that seems like a rather unfriendly approach. I mean that can't be the right approach, this just seems like a bug.

Seriously is that how folks are running with this? Only in applications which don't actually end on their own?

[2018-08-21 07:42] ragu-nathan opened #66 "Request Timeout after 30000ms"
I am using winston-elasticsearch@0.6.0 and winston@2.4.3 logging in Kibana. I am getting below error.
`{ Error: Request Timeout after 30000ms
    at /var/app/current/node_modules/elasticsearch/src/lib/transport.js:354:15
    at Timeout.<anonymous> (/var/app/current/node_modules/elasticsearch/src/lib/transport.js:383:7)
    at Timeout.<anonymous> (/var/app/current/node_modules/async-listener/glue.j

[2018-08-22 18:10] shadialtarsha commented on #66
I am having the same problem.
And I think it is related to the tcp connection.
But I can't figure it out

[2018-08-23 14:33] vanthome commented on #66
yes, I can confirm that this lib cannot be used with Logstash directly, it lust logs like logstash.

[2018-09-02 06:01] uptownhr opened #67 "callback is not a function"
I have a basic setup with,

[code]

logs are coming into ES but i'm seeing an infinite loop of,
[code]

Feel like I'm doing a dumb newbie mistake here. Any pointers?

[2018-09-07 07:06] vanthome commented on #67
Can you try to run the tests against a local ES instance? Just lunch ES on your machine and do `npm run test`.

[2018-09-07 09:10] uptownhr commented on #67
Sorry this was due to a version mismatch of winston.  Losing.

[2018-09-07 09:10] #67 closed

[2018-09-07 18:27] afreeland opened #68 "Real buffering of messages in case of unavailable ES"
Seen this as an unsupported feature currently but was hoping to discuss some ideas on how this could be implemented.  I know we have lost messages due to network connectivity dropping and not having any type of local queue for when connectivity resumes.

@vanthome was hoping to hear some thoughts you might of had on implementing this type of feature?

[2018-09-29 19:11] #66 closed

[2018-09-29 19:14] vanthome commented on #56
fixed

[2018-09-29 19:14] #56 closed

[2018-09-29 19:15] vanthome commented on #52
Can this be closed or is there any issue/ question left?

[2018-10-01 18:36] NaorManna commented on #17
I also notice this issue and can't apply any of the suggested solutions.
the logger.end success trigger the on finish but because i'm working with multi logger instance the process.exit() is not an option.
any suggestions will be welcome.

[2018-10-15 18:43] whoisstan opened #69 "TypeError: callback is not a function"
I am getting this error when logging a message:

TypeError: callback is not a function

My code:
[code]

I am seeing this:

[code]

I use node@8.9,winston@2.4.1 and winston-elasticsearch@0.7.0. The ELASTIC_SEARCH_LOGGING_URL env variable is accurate.

Also posted it here:
https://stackoverflow.com/questions/52823107/winston-elasticsearch-creates-callback-error-when-logging

[2018-10-16 07:03] vanthome commented on #69
You have to use Winston 3.x.x with the 0.7.x series of Winston Elasticsearch. Also note that the initialization is different for Winston 3.x.

[2018-10-17 02:35] whoisstan commented on #69
That was it! Thank you.

[2018-10-17 02:35] #69 closed

[2018-11-07 16:37] arindam89 opened #70 "this.client.bulk is not a function getting client issue with 0.7.0 for Elastic 6.3 and Winston 3.1.0"
I am unable to use this transport for the following error stack,

"message":"uncaughtException: this.client.bulk is not a function\nTypeError: this.client.bulk is not a function\n    at BulkWriter.flush (/Users/arpaul/Work/ALLISWELL/VAG/alliswell_nodeapp/node_modules/winston-elasticsearch/bulk_writer.js:67:22)\n

...
Elasticsearch 6.3 (with AWS using aws-elasticsearch-client)
Winston 3.1.0
Winston

[2018-11-07 16:39] arindam89 commented on #70
Full stack
[code]

[2018-11-07 18:54] vanthome commented on #70
well seems like the aws client does nut support the `buld()` method. Can you check that?

[2018-11-09 15:05] arindam89 commented on #70
As per the code, the module is not trying to do anything special on top of `elasticsearch` client

https://github.com/AntonBazhal/aws-elasticsearch-client/blob/master/index.js#L23

[2018-11-09 19:58] chunfengd commented on #17
This works:
[code]

[2018-11-12 15:50] gaukharaya opened #71 "Invalid transport, must be an object with a log method."
winston v3.1.0
winston-elasticsearch v0.7.5

Hello, I hope someone can help me with this issue? Is this a valid way to add Elasticsearch transport?
[code]

The effect I am trying to achieve is for all winston logs to implicitly log to Elasticsearch. I don't want to add Elasticsearch transport to every new logger I create, so instead I have a `WinstonConfigurator.js` where I specify all winston tra

[2018-11-13 08:40] vanthome commented on #71
Can you check this module:

https://github.com/restorecommerce/logger

I'm doing what you describe basically and it works.

[2018-11-22 07:33] vanthome commented on #71
Any update on this?

[2018-11-29 20:56] bradisbell opened #72 "Memory limit for buffering of messages?"
From the documentation:

Can this be disabled?  Or, can a reasonable limit be configurable?

I'd hate to have my process crashing due to an Elasticsearch failure or connectivity issue.

[2018-12-01 21:44] bradisbell opened #73 "Inclusion of winston-elasticsearch breaks custom http_parser"
I have a project with a custom http_parser binding, based on [http-parser-js](https://github.com/creationix/http-parser-js).  It's set up like this:

    process.binding('http_parser').HTTPParser = require('http-parser-js').HTTPParser;

All is fine until I `require('winston-elasticsearch')`.  As soon as I do that, any custom methods I'm handling with the new parser are no longer valid, and the HTT

[2018-12-01 22:01] bradisbell commented on #73
Disregard, I figured out the issue!  The first thing I had in my app was to set up logging.  Since logging is now making HTTP requests, the binding needed to be set up ahead of the logging.  Switching the ordering around (binding first, then winston) solves it.

[2018-12-01 22:01] #73 closed

[2018-12-02 15:19] vanthome commented on #72
Actually, I think it's not completely accurately documented, because node will only grab ~2 GiB by default and you must explicitly increase it with ` --max-old-space-size=` otherwise.
So there is a limit. But to prevent the process crashing as you describe it can only be solved by limiting the consumed memory.
The problem with this, however, is that it's very hard (I think) to find out how much me

[2018-12-02 16:10] bradisbell commented on #72
Yes, I think a max number of buffered messages would be fine.

Your point about a PR is well-taken.  I'll see if I can't take a crack at this next week.

[2018-12-06 10:21] tuanlc commented on #21
Hello @karkul ,
I'm facing the same problem, did you solve it? Please share with me.

Thanks in advance!

[2018-12-06 12:32] vanthome commented on #21
As clearly visible in the documentation of this module, you can provide your own mapping template via the `mappingTemplate` option. Also you probably would want have a wrapper of the logger which would add the additional information or alternatively you might be able to add them with a custom transformer script.

[2018-12-06 12:33] #71 closed

[2018-12-07 02:55] tuanlc commented on #21
Thank you for your quick your quick reply! It is clear to me.

[2018-12-12 13:04] GedersonChiquesi opened #74 "how to terminate winston-elasticsearch"
I'm trying to finalize the winston-elasticsearch run but it never ends. always holding the execution
[code]

[2018-12-12 13:27] #74 closed, assigned to nobody

[2018-12-12 15:05] vanthome commented on #74
can you point out which solution worked for you?

[2018-12-23 11:40] GedersonChiquesi commented on #74
this solution works for me:

[code]

[2018-12-27 22:11] vanthome commented on #17
I think the solution proposed by @chunfengd is better as it flushes the bulkWriter gracefully and the `transport.client.close();` is not needed. I have incorporated this [now](https://github.com/vanthome/winston-elasticsearch/commit/2340b0f182f1e8b21b06e2ff624b7bde1e04c0b0) in the transport itself and in the tests it works. I could remove `--exit` in `package.json` to run the mocha tests. So pleas

[2018-12-27 22:54] njam commented on #17
Nice - works fine!

I can confirm that with the new version 0.7.6 when calling `winston.end()` all messages are sent to ES, and then the program exits.

[2018-12-31 06:40] Snelius30 commented on #72
Disable buffering option would be good.

[2019-01-07 09:22] mikarl opened #76 "Invalid import statements in index.d.ts"
In the index.d.ts file, the import statements are invalid when used in my TypeScript project. I get an error message saying that the module "has not default export".

It seems to be working if its instead changed to this style of importing:
[code]
Same approach as is used many other places, e.g. winston: https://github.com/winstonjs/winston/blob/master/index.d.ts

[2019-01-07 22:31] trasa commented on #17
I'm still running into this problem with winston 3.1.0 and winston-elasticsearch 0.7.7 -- things _almost_ work but I think the logger is terminating before the writer has a chance to finish writing everything.

Typically, if I'm sending less than 15 or so log entries, everything is ok, when I try and send more I get errors.

[code]

The full stack of the error (which happens many times):

[code]

[2019-01-07 23:17] trasa commented on #17
A few changes to the above script:

[code]

output:

[code]

[2019-01-10 14:57] mikarl commented on #76
Turns out that I needed to add "esModuleInterop": true, to my tsconfig.json

[2019-01-10 14:57] #76 closed

[2019-01-10 19:35] trasa commented on #17
Here is a working version of winston3 writing to console and elasticsearch. The only safe way I was able to get working is to poll transport.bulkWriter.bulk.length and wait for it to become zero, then call logger.end().

[code]

[2019-01-10 19:39] trasa commented on #17
Here's a version using winston3 and the default logger. Since there is no `winston.end()` method, we don't have a way of shutting the logger down so in a console app, we'd hang. Instead this uses process.exit() to forcibly terminate everything.

[code]

[2019-01-11 20:46] trasa commented on #17
Ok, bad news: the above two samples do not work reliably. There is time between calling `logger.info()` N times and the data making it into `transport.bulkWriter.bulk` so that if you're unlucky (and/or manipulating sleep timers and sending to a non-localhost elasticsearch and other environmental factors...) then you'll have `transport.end()` or `process.exit()` called before all of the information

[2019-01-14 23:47] jooj123 commented on #72
is this controlled by the `bufferLimit` parameter ? Or is that for something else ?

We are coming across memory issues when using this library - would be great to limit the amount of memory it consumes (not even sure why it needs to buffer so much?)

[2019-01-15 07:16] vanthome commented on #72
Yes it is: https://github.com/vanthome/winston-elasticsearch#options
I will close this issue now.

[2019-01-15 07:16] #72 closed

[2019-01-25 22:07] Natashkinsasha opened #78 "Problem with typing"
Hi. I have problem with typing for TS. In github this bug was fixed. But when will be It in npm version?

[2019-02-11 21:10] four43 opened #79 "Packaging basics"
There seem to be some basic packaging issues with the library, mainly:

- Lack of tags and proper versioning
- Including extraneous files like .eslintrc in npm bundle
- Git has your specific .vscode IDE settings which is typically frowned upon.

I can make a pull request to fix these things once I get it to work. I'm bumping into the ever popular `Rejected mapping` bug like #49

[2019-02-11 22:06] vanthome commented on #79
Thx, I will take on these nut not the last one. I think nothing speaks against keeping the main authors editor settings in the repo.
I never heard about this issue in a while. Make sure you use the latest version and

[2019-02-11 22:08] vanthome commented on #79
Btw. I don't see a problem with proper versioning, do you?

[2019-02-11 22:25] four43 commented on #79
I was mainly speaking to the lack of tags. It's hard to go see what was in a previous version if the tags aren't provided. It relies on downloading multiple versions from NPM and hacking around in there. Thanks for looking into those.

I see some of the confusion. It's because .npmignore files are flawed by design _shakes fist_. You have your .vscode file properly ignored in git, but .npmignore ov

[2019-02-14 17:31] Fantus commented on #17
why not implement a close funtion like the mongo transport: https://github.com/winstonjs/winston-mongodb/blob/master/lib/winston-mongodb.js#L163

[code]

seems to do the trick for me

[2019-02-14 18:45] vanthome commented on #17
Because we assume that the underlying ES client is what needs to be closed. @trasa can you try this and see whether it fixes the problem for you?

[2019-02-20 16:41] raphaelts3 opened #80 "Clarification for `buffering: false`"
Hello!

First of all, I love the package and it has been very useful in my projects.
That said, I think the way `buffering: false` works is incorrect, or should be more clear in the documentation.
In my opnion, at least, when `buffering` is `false` the package should send every message, but what really happens is that the buffer is limited to a single message and discard the others that came at th

[2019-02-23 19:41] trasa commented on #17
Changed my example script around to use .close() and still get problems: https://gist.github.com/trasa/f4c93846d077a740387a630f01a1d4e8
to see the example script I'm using. (Maybe I'm doing something dumb.)

The result is that we're still ending the transport before all the work has been done.

[code]

[2019-02-23 19:49] trasa commented on #17
What I ended up doing is stripping the winston transport down to a minimum: no queues, just sync writes to ES. For my particular console application this is acceptable. There's lots of cases where it wouldn't be.

https://gist.github.com/trasa/1efaee47267db3de079024ec99a1c823

[2019-03-08 08:46] Razzeee opened #81 "Typescript definitions wrong"
I couldn't get this to work with typescript due to the `index.d.ts` having problems.

Had to change this line https://github.com/vanthome/winston-elasticsearch/blob/master/index.d.ts#L36
to ` export default class ElasticsearchTransport extends TransportStream {` as names were conflicting.

Here's the whole file

[code]

[2019-03-11 21:03] vanthome commented on #81
Can you maybe create a PR for this?

[2019-03-11 22:59] Razzeee commented on #81
Sure, will do tomorrow

[2019-03-12 09:05] #81 closed

[2019-03-29 06:02] teyou commented on #81
@vanthome  could we have a new release for this? thanks

[2019-04-03 21:58] barlock commented on #17
I'm having a similar issue, I've added

[code]

Which gets called when `logger.end` does.

This does end my process, but the two issues I'm having is that `logger.on('finish')` is never being called (which doesn't necessarily mean anything), and not all of my logs are making it to ES.

I noticed that `this.bulkwriter.append` is still being called after `end` is called.

This to me signals that `en

[2019-04-03 22:21] barlock commented on #17
**Edit** This seems to work as I described for continuously flushing after an append happens to keep the event loop going.

[code]

[2019-04-06 06:57] Snelius30 commented on #80
Yea, u are right I guess. But for full support, it requires to rework entire bulkWrite module. Feel free to implement.

[2019-04-09 11:46] lambrent opened #83 "Index created faster, than ensured Mapping template."
mapping Template is created, but log reach ES faster than template is created. Mapping template available only on next index.

[2019-04-17 19:55] shadowlik commented on #81
@vanthome any news about the release? Would be really appreciated <3

[2019-04-17 20:09] vanthome commented on #79
You have persuaded me here, I made the relevant changes and we will have tags from now on.

[2019-04-17 20:09] #79 closed

[2019-04-17 20:17] vanthome commented on #83
hmm, so you say we have a racing condition here?
Can you try to instantiate the transport and before you log the first message to invoke this method?

https://github.com/vanthome/winston-elasticsearch/blob/baa2c44bee2eb29223335334b2185dc750f37a2d/bulk_writer.js#L111

This is responsible to ensure the template.

[2019-04-17 20:18] vanthome commented on #70
@arindam89 any update on this?

[2019-04-18 12:59] Lory1990 opened #84 "Cannot write on ES"
Hi!
i wrote this code but it does not write down anything into my ES, could you give me help? Only log on the console is written

## Code
[code]

the log says me that winston-elasticsearh can reach the node using a GET and a HEAD.

When I do a `logger.info("some data",{foo:"foo"})` it writes on the console but not on the ES

## Dependencies
[code]
## Environment
[code]
any idea?

[2019-04-18 19:43] vanthome commented on #80
You are right, I have fixed this by introducing full support for non-buffered writes now.

[2019-04-18 19:43] #80 closed

[2019-04-18 19:45] vanthome commented on #81
done

[2019-04-19 11:13] Lory1990 commented on #84
After some research i ended up that the problem is @bulk_writer.js row 156 buecause you call
```const rawdata = fs.readFileSync(path.join(__dirname, 'index-template-mapping.json'));```

And this is not possibile in browser / client environment

[2019-04-22 09:38] vanthome commented on #84
Ok, then I guess we can close this.

[2019-04-22 09:38] #84 closed

[2019-04-22 23:40] haggholm opened #85 "0.7.10 was published with .git directory"
`winston-elasticsearch` @ `0.7.10` was published to npm with the `.git` directory. Presumably this was unintended, and it can cause a variety of exciting errors with various npm operations returning `EISGIT`.

[2019-04-23 07:47] Lory1990 commented on #84
I wrote my own transport for react + Winston + ES, could you add it to your lib? Feel free to edit is as you need :)

[code]

[2019-04-23 08:51] vanthome commented on #85
Strange, I checked and in the history of `.npmignore ` there was never `.git` I have recently added `.gitignore`, maybe npm interprets `.gitignore` somehow. Will check.

[2019-04-23 09:15] stefanomasini commented on #85
Is it something that can be fixed soon (like now)? I wonder if I should wait for the fix or revert to an older release.

[2019-04-23 13:28] skeet commented on #85
Same question as above.

Our build pipeline is currently broken.

[2019-04-23 20:27] #85 closed

[2019-04-26 12:27] YahyawiAF opened #86 "Field to send log to elasticsearch"
I use this code to send logs to elasticsearch for my node application

`var elasticsearch = require('elasticsearch');
const logger = winston.createLogger();

var client = new elasticsearch.Client({
  host: 'http://172.23.0.3:5000',
  log: 'info'
});

client.ping({
  requestTimeout: 30000,
}, function(error) {
  if (error) {
    console.log(error)
      console.error('elasticsearch cluster is down!

[2019-04-26 14:48] manelOyez commented on #86
add this in your logstash.conf so it can parse json
filter{ json { source =>  "message"  }  }

[2019-04-26 14:50] YahyawiAF commented on #86
yes i do that and i get this in logstash console

"; line: 1, column: 12]>}ource: (byte[])"Connection: keep-alive

[2019-05-01 20:41] four43 commented on #79
Thanks @vanthome!

[2019-06-06 13:11] 1fabiopereira opened #89 "(node:1) UnhandledPromiseRejectionWarning: TypeError: Cannot destructure property `index` of 'undefined' or 'null'."
I have the following problem:

[code]

[2019-06-06 19:11] vanthome commented on #89
looks like you are trying us a function or object as index. What are you providing as options?

[2019-06-06 22:08] 1fabiopereira commented on #89
These are the options I am providing:

[code]

[2019-07-05 00:38] anli-xsigns commented on #89
I have this error too. Often if log is used heavily. I changed

[code]
to
[code]
and watched at the error console. What I see there if the error occurs is that the request entity is either to large (see e. g. https://github.com/elastic/elasticsearch/issues/2902) or the elk server doesn't respond. So it seems that reacting on errors is needed here. But I think the data hasn't been posted so I don't

[2019-07-15 17:44] servernoj opened #90 "Event 'finish' is fired before actual flushing the buffer"
I am handling `uncaughtException` event in NodeJS application to assure that logs are flushed to ES (in my case it is AWS ES domain).

Here is the code snippet of the handler:
[code]
where `logger` is created by calling `winston.createLogger({...})` sometime earlier.

It appears that calling `process.exit(10)` on `finish` event emitted by the logger terminates the process of writing logs out so th

[2019-07-25 15:46] ttrevorr commented on #90
I am seeing the exact same issue... any updates?

[2019-08-01 12:29] rahuljhawar opened #91 "How to write dynamic index names"
I want to set dynamic index based on client.But the logs gets indexed on **undefinedlogs** .
This is how I'm trying-
[code]

[2019-08-02 21:23] vanthome commented on #91
This does not seem to be an error in this transport but something in your code. Just try to hard-code the names for testing. Also this wont work dynamically anyway. If you need indexes per client, you need to pre-instantiate a different logger for each client that you may need.

[2019-08-02 21:23] #91 closed

[2019-08-02 21:26] vanthome commented on #89
@anli-xsigns you are really getting this error: "TypeError: Converting circular structure to JSON"? Can you provide a stack trace?

[2019-08-02 21:29] vanthome commented on #86
This does not seem to be an issue related to this project but rather something logstah related. Closing it, feel free to reopen if needed.

[2019-08-02 21:29] #86 closed

[2019-08-02 21:30] vanthome commented on #83
@lambrent any news on this?

[2019-08-02 21:31] vanthome commented on #33
Any news here?

[2019-08-19 09:03] rafipiccolo opened #92 "package size"
Hello,

After an npm install, the module is 8.64M.
https://packagephobia.now.sh/result?p=winston-elasticsearch

Is it possible to make it smaller. I cant understand how it grow up so much when u can achieve the same with a POST request of an array every 2 seconds.

lmk if i'm dumb.

[2019-08-28 20:25] vanthome commented on #89
Any update on this?

[2019-08-28 20:26] vanthome commented on #70
Clsoing due to inactivity.

[2019-08-28 20:26] #70 closed

[2019-08-28 20:27] vanthome commented on #83
@lambrent any news on this?

[2019-08-28 21:37] vanthome commented on #90
Ok, I understand this issue. This is probably because we emit the even `logged` immediately and not only when the message has been written by the bulk writer. It is however pretty hard to keep track of this if bulk writing (batching) is used. As an immediate fix, I suggest two ways:

1. You wait for twice the `flushInterval`  before you `process.exit(10)`
2. You set `buffering` to `false`

I have

[2019-08-28 21:38] #92 closed

[2019-08-28 21:39] vanthome commented on #92
The last version should reduce the size, please check and let us know.

[2019-08-29 07:43] litti commented on #89
Sorry, have been on holiday and due to changing the log structure the error doesn't occur very often :-) If it occurs the next time I'll provide a stack trace.

[2019-09-03 23:00] microsoftly opened #93 "Is winston-elasticsearch compatible with the new elasticsearch client?"
Elastic has released a new client https://www.elastic.co/blog/new-elasticsearch-javascript-client-released. Will `winston-elasticsearch` be compatible? If not, are you expecting to get to this update sometime in the near future?

[2019-09-20 15:41] whoisstan opened #94 "Index Name swap based ob indexSuffixPattern"
Hi,
I set my indexSuffixPattern to `MM.DD.YYYY_hh.mm` because I wanted to see if a new index is used if the date pattern rolls over from one period to the next. Does that only work when it rolls over from one day to the other?
Thank you,
Stan

[2019-09-23 18:11] brandonros commented on #52
Can you extend the constructor options to be able to register a callback on the underlying elasticsearch client?

`Elasticsearch index error` happens when I have yucky logs that compete for logging different types into the same index field. Example:

[code]

[code]

It'd be neat if I could attach a callback to those errors and write them off to a file for later evaluation.

[2019-09-24 13:50] brandonros opened #95 "logger.on('error' not fired"
https://github.com/vanthome/winston-elasticsearch/blob/f3778988bca2ded09b56d67ed1e1ba83eb5ea428/bulk_writer.js#L98

can you make this emit 'error'?

here too: https://github.com/vanthome/winston-elasticsearch/blob/f3778988bca2ded09b56d67ed1e1ba83eb5ea428/bulk_writer.js#L111

in your docs you say you emit error: https://github.com/vanthome/winston-elasticsearch#events

[2019-09-25 22:13] #93 closed

[2019-09-25 22:13] #95 closed

[2019-09-27 00:22] brandonros commented on #95
Thanks. Can you `npm publish`?

[2019-10-03 01:39] andrezenzengarupa opened #96 "ensureMappingTemplate not add new template in elasticsearch 7.3"
The ensureMappingTemplate function has a getTemplate call that is not returning the correct error when the template does not exist, please use the existsTemplate call that will return true or false.

thiz.client.indices.getTemplate
to
thiz.client.indices.existsTemplate

and validate return message

[2019-10-03 08:33] himanshu-singh1995 commented on #89
https://github.com/vanthome/winston-elasticsearch/blob/4a618e5dcfa758c5f2e8baa48a547fe5c2d7a797/bulk_writer.js#L65-L67

Here in the above code, `bulk` is expected to have 3 keys `index`, `type` and `doc` but for each bulk, 2 elements are being added to the `body`

https://github.com/vanthome/winston-elasticsearch/blob/4a618e5dcfa758c5f2e8baa48a547fe5c2d7a797/bulk_writer.js#L105-L111

but here, whi

[2019-10-04 22:35] #89 closed

[2019-10-04 22:50] vanthome commented on #94
Hi, no that is decided with every new log message anew. Have you checked that the pattern is compatible with dayjs: https://github.com/iamkun/dayjs ?
BG

[2019-10-07 17:54] whoisstan commented on #94
Got this this all figured out, the implicit day based pattern was fully sufficient.

[2019-10-07 17:54] #94 closed

[2019-10-07 17:59] whoisstan opened #98 "Signing HTTP Requests"
Hi there,
is there a way to use signed HTTP requests to Elasticsearch using your framework?

https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html

There is a node.js example in the code base. I be happy to help too.

Thank you very much,
Stan

[2019-10-08 04:16] zxlin commented on #89
Thanks for the work on this issue everyone. I've been getting this error consistently for the last 3 days. Would this be in a release soon?

Also what's the best way to handle something like this in the future? Would listening for the `error` event prevent the unhandled promise rejection? and would that be a "safe" thing to do? We had the server crash about 200 times over the last 3 days, while we

[2019-10-08 07:01] vanthome commented on #98
In the node.js example they just make plain HTTP requests and do not use the ES client at all. This is not an option for this module. I would propose you ask this question on the original ES client here:
https://github.com/elastic/elasticsearch-js
whether they do or will support this.

[2019-10-08 07:01] #98 closed

[2019-10-08 07:37] vanthome commented on #89
The fix for the related issue https://github.com/vanthome/winston-elasticsearch/pull/97 has already been published to NPM. Have you already tried with the latest version?

Your question I cannot answer right now, maybe you let us know?

[2019-10-09 05:29] zxlin commented on #89
Wanted to give an update here:

I upgraded to the new @elastic/elasticsearch package and that package does not seem be bubbling up as the error as an unhandled rejection. Will continue to test and will report back.

[2019-10-11 22:05] vanthome commented on #89
You are right, I have released it now, pls. check.

[2019-10-11 22:05] #96 closed

[2019-10-14 16:43] yagodorea opened #101 "ElasticsearchTransport is not assignable to TransportStream"
I'm trying to test using this transport to put my logs into Elasticsearch, but I'm not able to use it right now because of some typing issues:

[code]

[code]

I'm using it on a Typescript (3.5.3) API with winson@3.2.1 and winston-elasticsearch@0.8.2

[2019-10-18 15:23] vanthome commented on #101
Have you tried like here:

https://github.com/vanthome/winston-elasticsearch/blob/master/test/test.js#L27

This is in our tests and they obviously work.

[2019-10-20 02:11] brandonros opened #102 "Missing node(s) option"
Something broke in your latest update

error:

[code]

package.json

[code]

logger.js

[code]

[2019-10-20 21:17] vanthome commented on #102
Well the new ES client has different options, see here the property `node` is probably what you specified as `host`.

[code]

[2019-10-20 21:17] #102 closed

[2019-10-21 04:14] brandonros commented on #102
not sure if it makes sense to update the README

[2019-10-21 09:47] vanthome commented on #102
Just check our readme, there is no example. The example uses the (unspecified) default host/ node which is localhost.

[2019-11-05 20:47] masoomaf opened #103 "Logger transports for elastic gets deleted when there is an error writing the logs to Elasticsearch"
When there is an error writing logs to the elasticsearch (for example writing different types for a field), the error subscription is invoked the first time successfully. However on subsequent errors, the logger fails with the error "[winston ]Attempt to write logs with no transports"
The reason is because the elastic transport in the logger gets deleted after the exception.

[code]

Expected Resu

[2019-11-10 22:52] vanthome commented on #103
hmm, that's strange. In the code the transport is not deleted. Maybe that's a standard behaviour from Winston. Can you check this yourself?

[2019-11-27 08:44] ducho opened #106 "Winston and Elasticsearch in different docker container"
Hi!
First, I need to log all HTTP requests/responses, but this is problem with gelf/logstash because "\n" and my res/req body is exploded to several rows and its problem to read data in Kibana. I decided to try winston but I don't know if I need a morgan too.

I have a problem with logging messages to different container maybe because node IP address specified in ClientOps. Currently I'm using ELK

[2019-11-29 09:15] vanthome commented on #106
This module is about sending logs directly to ES and not through Logstash so you are asking in the wrong place. The only thing I can tell that looks suspicious is that you provide this node: ` node: 'http://172.23.0.2:9200'` and about your ES instance I'm not sure whether that IP and Port are exposed. Usually you don't specify the host as IP address in docker but with a host name.

[2019-11-29 09:15] #106 closed

[2019-12-13 02:16] JoHuang opened #107 "How to include "hostname", "service name", and "env"?"
I would like to include these information like what APM agent does.
Thanks

[2019-12-15 20:53] vanthome commented on #107
Hi, can you specify more detailed what you want?
BG

[2019-12-17 14:13] JoHuang commented on #107
I've found that I can use transformer to attach more runtime information.
Close this.

[2019-12-17 14:13] #107 closed

[2019-12-18 05:43] akshay27395 opened #108 "How to use this npm module to convert winston logs and push to elasticsearch?"
please provide sample code. I used code that is mentioned on website but its not working for me.
**This is my code :-**

const winston = require('winston');
const Elasticsearch = require('winston-elasticsearch');

const esTransportOpts = {
  level: 'info',
clientOpts: {
        node: "http://elasticsearch:9200",
        log:"info"
    }
};

const logger = winston.createLogger({
  level: 'info',

[2019-12-18 09:45] akshay27395 commented on #108
I got solution, I replace elasticsearch to my system IP -
clientOpts: {
node: "http://192.168.*.*:9200",
log:"info"
}

[2019-12-18 09:45] #108 closed

[2020-01-03 22:41] dludwig opened #112 "bulk writer response.body doesn't exist"
Hello - I was getting an error from .body not existing -- please investigate --  this resolves it for me:
[code]

[2020-01-08 20:51] joaolenon commented on #112
Hello, this happens because the new elastic search client changed your response. You should update your ESClient. You can see more information on pull request [#109](#109).

[2020-01-09 04:57] vanthome commented on #112
Thx @joaolenon for kicking in. I'm closing this now.

[2020-01-09 04:57] #112 closed

[2020-01-20 05:27] zxlin opened #113 "Unhandled error - how to catch?"
We're getting the following error on our logger, we know this is because the Elastic server ran out of storage; however, we can't seem to find out a way to catch and handle this error gracefully. Please see code below. We can get the error on the `error` event, but it still bubbles up as unhandled. Any ideas on how to catch and handle this? Thanks in advance!

[code]

[code]

[2020-02-02 02:41] athenawisdoms commented on #107
Can you please share your code? I am trying to do the same as you.  Thanks!

[2020-02-02 02:41] athenawisdoms commented on #107
@JoHuang Can you please share your code? I am trying to do the same as you.  Thanks!

[2020-02-03 04:00] athenawisdoms commented on #17
@barlock Did you manage to find a newer solution?

I used yours in this manner below, but the program is still not exiting.

[code]

[2020-02-06 02:03] JoHuang commented on #107
@athenawisdoms

[code]

[2020-02-17 09:51] tvedtorama opened #115 "Detect and log failed credentials"
When I use wrong credentials for Elastic, the `checkEsConnection` function will retry the check forever.  This does not give a clue that the logging is not active due to invalid credentials, which could give a false sense of allrightness.

Exit the retryloop and log when the server returns 401?

[2020-02-18 14:31] jkosior commented on #101
I have the same error, it seems there is problem with your `index.d.ts`
[code]

it throws:
[code]

[2020-02-18 14:38] jkosior commented on #101
I've created pull request which fixes this error https://github.com/vanthome/winston-elasticsearch/pull/116

[2020-02-18 16:50] kjellmorten commented on #103
I think I have had the same problem, where the transport stops logging after an error from the ElasticSearch server. It seems to be a an intended feature, though:

https://github.com/vanthome/winston-elasticsearch/blob/f3839b9429f397a1a95cbb4e7e9a5a1736e511e9/bulk_writer.js#L123

👆This is called within `client.bulk().catch()`.

Is this really a good choice? Wouldn't it be better to log the error a

[2020-02-18 21:38] kjellmorten commented on #103
I see now that the `this.checkEsConnection` is supposed to start the transport again, but it doesn't seem to work. I'll have to look more into this to figure out why. Sorry about that.

[2020-02-24 19:40] athenawisdoms opened #117 "ResponseError: circuit_breaking_exception"
I have a long-running node.js script that takes over 4 hours to run. At the start of the script, It logs a message using `winston` and `winston-elasticsearch` to indicate that the script has started running. After 4 hours, it logs another message to indicate the time taken and that the script has finished running.

The winston logger is configured to log to console, to file, and to elasticsearch (

[2020-02-28 12:47] flymans opened #118 "bulk writer response.body doesn't exist"
Hello, after upgrading winston-elasticsearch from **0.8.2** to **0.8.4** I got this error:
[code]

**UPD**: same for **0.8.3**
**0.8.2** works fine

[2020-03-07 08:25] litti commented on #118
This is duplicate to #114 and fixed with (not yet merged) b6a740f11450e85bf397b9c48eabad3d2c2ba185

[2020-03-09 07:43] #118 closed

[2020-03-10 10:55] jlsbi commented on #103
I have the same problem.
Whenever there is a log that cannot reach my Elasticsearch node for any reason, I get the right error, but when the next log is being pushed, I get this error: "Attempt to write logs with no transports".
Thus, anytime an Elasticsearch transport cannot reach its node once, it is removed from the array of transports inside Winston.
Of course, this only happens when I have on

[2020-03-11 14:50] szabi84 commented on #113
The same question here...

[2020-03-11 15:01] zxlin commented on #113
@vanthome can we get a response on this when you get a chance? Thank you very much!

[2020-03-11 20:14] vanthome commented on #117
It looks like that's an issue in the ES client. Please check first with the parameters and long lived idle connections to ES for the ES client. I assume other people have discussed this. I cannot research that now.

[2020-03-17 19:33] MeepManager opened #122 "TypeError: winston_elasticsearch_1.default is not a constructor"
When I try to import the module in node.js & TypeScript 3.7.4, my program crashes:

[code]
It actually compiles fine, except my program crashes with the error: `TypeError: winston_elasticsearch_1.default is not a constructor`

I believe this has to do with the way the default `ElasticsearchTransport` is being exported. My recommendation would be to drop this default and have a proper index.d.ts fi

[2020-03-19 08:18] enjoynikon opened #124 "UnhandledPromiseRejectionWarning: Unhandled error."
When I try to set custom _type by using "messageType" param ,my program throw Unhandled error:
code:
[code]

error:
[code]

subsequently this leads to an error:
[code]

versions:
[code]

[2020-03-20 11:38] vanthome commented on #122
can you make a proposal for this pls? we have an `index.d.ts` already...

[2020-03-20 15:28] vanthome commented on #113
Should be fixed with 0.8.6. If not, please re-open.

[2020-03-20 15:28] #113 closed

[2020-03-20 15:28] vanthome commented on #124
Should be fixed with 0.8.6. If not, please re-open.

[2020-03-20 15:28] #124 closed

[2020-03-24 12:42] strafe89 commented on #103
@vanthome this issue appeared after these changes:
https://github.com/vanthome/winston-elasticsearch/commit/819de70f4f62d4f23c86438b0de5bf3a889786a8#diff-3805ebf53854d461672e5b174ef6a719

when you emit an error it just unpipes the stream and the transport closes immediately.
https://github.com/nodejs/readable-stream/blob/master/lib/_stream_readable.js#L702
if you comment this line, transport won't

[2020-03-24 23:43] mogadanez opened #125 "ensureMappingTemplate & mappingTemplate seems not working"
I tried to debug it at bulk_writer.js
[code]

and it fall to catch with error

[code]
mappingTemplate is exactly as in template

[2020-03-27 16:19] SET001 commented on #122
same issue here

[2020-03-28 07:31] SET001 commented on #122
was able to run ti when changed default export to named. I can to a PR if you like.

[2020-03-28 09:29] vanthome commented on #122
yes, pls. PR

[2020-03-30 07:18] SET001 commented on #122
@vanthome can you update npm?

[2020-03-31 21:59] vanthome commented on #125
I cannot confirm this, have you tried this with a fresh instance of ES? I could imagine that you already have an index pattern or your version of ES is not recent enough...

[2020-03-31 22:01] #122 closed

[2020-04-01 11:03] hpdobrica opened #127 "breaking change in 0.8.6"
0.8.6 introduced a breaking change in the way the library is exported, exporting {ElasticSearchTransport} instead of ElasticSearchTransport.

[2020-04-02 12:38] #127 closed

[2020-04-03 09:18] dejv78 opened #129 "ElatsicsearchTransport type export does not conform to the index.js export"
Hi,

I'm using winston-elasticsearch, version 0.8.7 in a monorepo project, and I believe I found a discrepancy between ElasticsearchTransport export in index.d.ts and index.js.

Somehow, this doesn't seem to cause any trouble in "regular" projects, but it reveals itself in monorepo projects, either using lerna npm hoisting, or yarn workspaces.

The problem seems to be this:
In order for the Elasti

[2020-04-04 15:09] gpradeepjain opened #130 "Installing axios package is causing application to break in winston start"
I have a node application.

Node v: v10.11.0

We use winston and winston-elasticsearch. Code work fine. As soon as i install axios(0.19.2) package, it starts to break throwing out error. I am clue less as to why the error is thrown.

transports.push.apply(transports, [new _winstonElasticsearch2.default({
                                                   ^

TypeError: _winstonElasticsearch2.defaul

[2020-04-04 17:43] marknelissen commented on #129
Since the change in index.js is a breaking change they probably don't want to revert to the export in index.d.ts, the opposite solution would be to modify `export class ElasticsearchTransport extends TransportStream {` to `export default class ElasticsearchTransport extends TransportStream {` so as to align the typescript export with the _pure_ javascript one.

[2020-04-07 11:22] SET001 commented on #127
this fix lead again to this issue https://github.com/vanthome/winston-elasticsearch/issues/122

[2020-04-07 17:48] AndreasHotelbird commented on #129
I did try the workaround s that @dejv78 is mentioning but with no success. I still get a `TypeError: (intermediate value) is not a constructor` how did you get this working. Would love to hear from you.

[2020-04-07 20:26] vanthome commented on #129
Should be good now with release 0.8.8

[2020-04-07 20:26] #129 closed

[2020-04-07 20:28] vanthome commented on #115
have you tried to listen to the error event via `.on('error', ...)` ?

[2020-04-08 04:56] tvedtorama commented on #115
Yes, but I don't think the failed credentials issue end up there - it just keeps trying, as if the Es server is temporarily down.

[2020-04-08 17:54] marknelissen commented on #129
I confirm the typing is again correct.

[2020-04-08 19:30] mmihic96 opened #131 "Elasticsearch is not a function in version 0.8.8"
![image](https://user-images.githubusercontent.com/28544145/78825395-32321680-79e0-11ea-88cd-0ddb59bf3576.png)

[2020-04-08 19:57] jasonperrone commented on #129
Are you guys sure this is is fixed in 0.8.8?

My package.json:
[code]

The Node require:
[code]

The code:
[code]

The error:
TypeError: WinstonElastic is not a constructor

[2020-04-09 00:53] haggholm commented on #131
I think they re-introduced the problem fixed in 0.8.6: https://github.com/vanthome/winston-elasticsearch/issues/127

Basically,

* it used to export the transport only as the default export
* it changed to a named export
* this broke the package for everyone using the default
* some people dealt with this by using the named export
* it reverted to using the default export, since it broke so many d

[2020-04-09 06:50] mmihic96 commented on #131
@haggholm I saw it after my post. I using naming export.
Thank you anyhow.

[2020-04-09 08:45] marknelissen commented on #129
@vanthome actually reverted the 0.8.7 _fix_ to the way you have to use the 0.8.6
`const WinstonElastic = require('winston-elasticsearch').ElasticsearchTransport`

But indeed, the readme has not been updated, and still gives the wrong instructions.

[2020-04-09 15:46] jasonperrone commented on #129
Thank you @marknelissen

[2020-04-14 15:10] bijanzohouri opened #132 "Elasticsearch ERROR: 2020-04-14T14:56:19Z Error: Request error, retrying"
I am using following verisons of winston and winston-elasticsearch
"winston": "^3.2.1",
"winston-elasticsearch": "^0.7.0"
my Logger.js file is like this:
var winston = require('winston')
// var expressWinston = require('express-winston')
var WinstonGraylog2 = require('winston-graylog2')
var Elasticsearch = require('winston-elasticsearch')

module.exports = {
  logger: winston.createLogger({
    fo

[2020-04-16 07:00] dejv78 commented on #129
Thanks a lot @vanthome , version 0.8.8 works well...

[2020-04-24 10:24] AzharHusain opened #134 "apm key missing in ElasticsearchTransportOptions for TypeScript"
Hi,

While using winston-elasticsearch with TypeScript I found that exported ElasticsearchTransportOptions does not have "**apm**" key as part of interface fields.

Please add it so that APM agent could be passed to the ElasticsearchTransportOptions.

[2020-04-24 14:14] Razzeee commented on #117
https://github.com/elastic/elasticsearch-js/issues/1095#issuecomment-590891758
suggests, that there might be a bug in this library

[2020-04-24 14:17] jasonperrone opened #135 "indexSuffixPattern is truly Moment compatible?"
Why does it appear that I cannot set the indexSuffixPattern with a Moment supported escape sequence like so:
[code]

When I try this it just silently fails to log.

[2020-04-24 14:22] jasonperrone commented on #135
That's interesting. It doesn't seem to like the space. So
[code]
works
but not
[code]

Whatever, I'm happy.

[2020-04-24 14:22] #135 closed

[2020-04-24 15:37] Razzeee commented on #113
I seem to still be seeing this. In combination with uncaughtException logging after a `circuit_breaking_exception` happened. Which does get logged fine in the `on` block of the logger config.

[code]

[2020-04-28 10:39] goferito commented on #122
What about importing like:

[code]

[2020-04-28 14:23] SET001 commented on #122
@goferito  that is actually what my PR did
https://github.com/vanthome/winston-elasticsearch/pull/126/commits/ca3d9c74a88077d9b992456dfbd0125df9a9ab34#diff-168726dbe96b3ce427e7fedce31bb0bcR136

[2020-04-28 16:25] goferito commented on #122
I see. But it's not yet published to npm.

[2020-04-30 19:06] bruegth commented on #117
suggests, that it could related to this: https://github.com/vanthome/winston-elasticsearch/issues/103#issuecomment-603216196

[2020-04-30 19:17] bruegth commented on #117
Also it would be good to handle the response error 429 (circuit_breaking_exception/OOM) different, because connection test with an ping will be successful after an 429 error. Suggests, that maybe just make a longer timeout in case of an 429 or otherwise ignore 429 in bulkwrite to drop log messages.

[2020-05-01 02:59] 6ewis commented on #134
@AzharHusain check the package winston-elasticsearch-apm

[2020-05-02 08:17] davidonet commented on #103
Same issue for me. The transport lacks of resiliency. My device connect to es server with GSM modem, it can he heratic. Even with big retry number, if I get a 400 error code from my server the system stop logging...

[2020-05-07 08:47] rutemja commented on #103
In our project this issue lead to "Unhandled Rejection at Promise" errors which is critical for us.
@vanthome Can you already estimate when you will have time to look at this?

[2020-05-12 11:05] Munawwar opened #137 "Feature request: Force add template on startup"
Firstly, got to say this is a nice library. Thanks for this.

There is one behavior about the ensureMappingTemplate setting that I wish is configurable.
If mapping template is changed (as things changes from time-to-time), there is check where the mapping template already exists on ES or not.. and if it does exist, (the new) mapping template is not added. It would be nice to automate this scenario

[2020-05-12 11:46] tobias-tengler commented on #131
Would be nice if breaking changes like this could be released as part of a major version increment in the future!

[2020-05-12 12:09] Munawwar commented on #137
Actually it's a bad idea, since multiple nodes would keep forcing template change. It probably should be done as part of app deployment step. Closing.

[2020-05-12 12:09] #137 closed

[2020-05-13 04:35] Jivings opened #139 "Buffer fills up with failed attempts"
If a document in the bulk buffer fails then it re-adds the document to the buffer in the rollback phase.

If the document is totally broken and can't be indexed then it remains in the buffer forever. In my case this means the buffer slowly fills up with dead documents until I can no longer push any more logs to it.

[2020-05-14 08:48] vanthome commented on #131
I'm only for named exports. At this point people have migrated by now.

@tobias-tengler  will do so.

[2020-05-14 08:48] #131 closed

[2020-05-14 21:04] vanthome commented on #103
Sorry guys I had no time to look into this yet. I think to emit a `warn` event is the second best option only as it's not a well defined event and is against intuition. I think we should re-pipe the source as described here: https://stackoverflow.com/a/33388016/1821792
Any obligations?

[2020-05-15 08:49] bruegth commented on #103
@vanthome But doesn't it that mean that then this has to be handled from the outside of the Transport?

[2020-05-15 08:52] vanthome commented on #103
no, the stream can handle that internally. I hope I can deliver this in the coming days.

[2020-05-16 09:29] vanthome commented on #103
I have pushed the changes to GH only for now. Can someone maybe test this approach and provide feedback?

[2020-05-18 09:19] bruegth commented on #103
@vanthome I've tested your changes, but unfortunately the node process will be killed by uncaught exception, while I'm restarting elasticsearch:
`
2020-05-18T08:40:26.125Z Warn: Elasticsearch LogTransport error (ConnectionError)! <--[on('error' handler of Transport]

2020-05-18T08:40:26.126Z Fatal: Uncaught Exception thrown
ConnectionError: connect ECONNREFUSED 172.28.32.5:9200
    at ClientReques

[2020-05-22 20:11] #139 closed

[2020-05-26 07:36] bruegth commented on #103
@strafe89 @kjellmorten @davidonet Can someone of you, maybe test the current master too?

[2020-05-26 15:21] vanthome commented on #103
I can reproduce the error (only this scenario I have tried) when I run the tests and ES is not even started. The issue why we see an `UnhandledPromiseRejectionWarning` is that I cannot see how to handle this error properly when using promises. I have therefore raised this:

https://github.com/elastic/elasticsearch-js/issues/1204

[2020-06-02 14:00] shiva2021 commented on #70
Hi.. I am trying to use the below configuration...

`    var esTransportOpts = {
      level: 'info',
      indexPrefix:'testlogs',
      client:{ node: 'http://127.0.0.1:9200' }
    };
    var logger = winston.createLogger({
      transports: [
        new ElasticsearchTransport(esTransportOpts)
      ]
    });

    logger.log({
      level: 'error',
      message: 'Hello distributed log files!',

[2020-06-02 18:16] vanthome commented on #70
Which ES client are you using? The AWS client or the standard client?

[2020-06-05 09:33] shiva2021 commented on #70
Hi @vanthome ,

Actually, I figured out the solution. I was using an incompatible version of winston-elasticsearch. The winston package version that I was using was 3.2.1, but the  winston-elasticsearch version was something other than 0.7.0 which was causing the issue. As soon as I changed the version to 0.7.0, the error went away. Thanks for responding back btw.

Cheers

[2020-06-08 17:33] eilgin opened #144 "How does this project manage new releases?"
Hello @vanthome :)

First of all, thanks for all the hard work that you've put into this project; it helped me alot to find that there're already a winston transport to handle logs in ES!

I'd just wanted to know how do you plan new releases and how do you manage them since i don't see a correlation between [GitHub releases](https://github.com/vanthome/winston-elasticsearch/releases) (the last one

[2020-06-09 09:27] Munawwar commented on #115
If there was a way to detect intermittent errors vs permanent errors I could implement this

I guess here are some ideas to filter them for retry:
- TimeoutError, ConnectionError
- 408 request timeout
- 429 too many requests
- 5xx http status codes (mostly 500,502,503,504)

Not sure about "No living connection" error (means probably no ES is running)

[2020-06-09 09:28] Munawwar commented on #125
Are you using elasticsearch 6 or 7? This was happening with 6.. now recent PR fixed (on master now.. didn't release yet).

[2020-06-09 11:48] Munawwar commented on #103
I've been looking into this. So far that is what I found.
Winston Logger inherits from readable-stream's Transform class. And emitting an error from that class throws exception. (and if you throw any error inside of a promise or a promise catch, like in bulk_writer.js, it will become an unhandled promise rejection)

Minimal example:
[code]

So how is it reaching there?
`thiz.transport.emit('error'

[2020-06-09 16:11] Munawwar commented on #83
https://github.com/vanthome/winston-elasticsearch/pull/142 fixed this to wait till template is created/confirmed before starting to log

[2020-06-12 02:22] ryanm opened #146 "Readme unclear on which version to use"
Thank you for winston-elasticsearch.

I think this line in the Readme:

... should be:

[2020-06-13 21:14] #33 closed

[2020-06-13 21:15] #32 closed

[2020-06-13 21:15] vanthome commented on #29
This should no longer happen as buffering is not limited.

[2020-06-13 21:15] #29 closed

[2020-06-13 21:16] #41 closed

[2020-06-13 21:42] vanthome commented on #103
The scenario I have outlined that ES ist not started when the logger is started is covered meanwhile, there is no `UnhandledPromiseRejectionWarning` anymore.
For the cases where the ES connection dies during operation, this `emit()` here is causing the `UnhandledPromiseRejectionWarning`:
https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L168
As @Munawwar noted above it's

[2020-06-14 09:25] #83 closed

[2020-06-14 09:26] vanthome commented on #90
Can you please check this again with the latest version and let me know?

[2020-06-16 07:10] beanaroo opened #147 "ElasticSearch Index Error when using a mapping with constant_keyword"
An index is created outside of the process using the mapping template:

[code]

With `ensureMappingTemplate: false` the following error is thrown after writing to elasticsearch:
[code]

Removing the mapping for `service` provides no errors.

Using package version `0.9.0` with ElasticSearch `7.7.1`

[2020-06-25 15:12] eilgin commented on #144
@vanthome i think you've missed this issue but it seems that you've updated the NPM package (0.9.0 as or today).

[2020-06-25 15:12] #144 closed

[2020-08-18 15:10] #103 closed

[2020-08-19 08:18] Razzeee commented on #103
I guess the test you commented out in https://github.com/vanthome/winston-elasticsearch/commit/a8f68b03147924d33b61e678c4edfd61262f189c should be reinstated then?

[2020-08-26 08:54] weizenberg commented on #134
Hey!
Still missing in #142 🤭

[2020-08-27 09:19] joerg-walter-de opened #152 "How to activate debugging for the transport itself?"
How do I activate debug logging for the transport itself - e.g. to detect failed connecting to the ES server?

[2020-09-01 17:48] vanthome commented on #152
See here: https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L6

[2020-09-01 17:48] #152 closed

[2020-09-07 13:23] longuyen97 opened #153 "Update documentation."
Requiring object should look like following:

[code]

[2020-09-07 13:26] #153 closed

[2020-09-08 13:20] Jonathan-Jackson opened #154 "Possible Typo on Usage?"
Hi!

Love the library!

Just got started with it, and was confused why it wasn't working (latest version), the class pulled back from the USAGE example is actually nested within an object for me:

[code]

Apologies if this has already been flagged and i'm being dumb, I couldn't see anything within the readme or issues! If this is version related it might be worth adding a comment.

Thanks for the

[2020-09-16 20:41] #154 closed

[2020-09-16 20:41] vanthome commented on #154
Thx for the hint

[2020-09-22 20:23] eye1 opened #155 "ElasticSearch index error - valuable error info is lost"
![image](https://user-images.githubusercontent.com/4639650/93933438-f555a400-fd21-11ea-8922-6d7d74bd8067.png)
![image](https://user-images.githubusercontent.com/4639650/93933473-043c5680-fd22-11ea-8d1c-bd7f483c331d.png)

It would be very helpful if this info is propagated via error object and could be used later when logger error is handled

[code]

[2020-09-23 18:39] andarilhoz opened #156 "Flush function"
I dont really know how transports work in winston, but, it would be great if we could call a flush method to send all logs to elasticsearch immediatly.

I'm using this plugin on a AWS lambda function, and i wish i could send all messages before aws freezes my function

[2020-09-24 17:03] giancarlokc opened #157 "Health Checks"
Hello,

We recently started using this module to send client logs to elasticsearch. However, after a couple of weeks, we noticed that some users were sending too many HEAD requests to our elasticsearch endpoint.

@vanthome, I was wondering if you would be open to adding an option to this module to disable health checks and just perform bulk writes. If so then I would be willing to create PR with t

[2020-09-24 20:27] carrasco39 commented on #156
#158 would do it

[2020-09-28 09:09] PaliiucEvghenii commented on #155
agree, at the moment it is very difficult to determine the problem on a live system without additional information

[2020-09-28 13:13] ruscon commented on #155
@vanthome Could you help speed up the solution to this problem?

[2020-10-05 09:25] eye1 commented on #155
Very primitive solution but it would do it's job would be to convert this block:

[code]

Into something like this:

[code]

What do you think?

[2020-10-05 09:35] ruscon commented on #155
@eye1 Yep.
Or create a custom `Error` class

[2020-10-09 07:03] sid-dob commented on #134
Please fix

[2020-10-21 21:00] vanthome commented on #157
Hi,
sure, if you create a PR I'm very happy to add it. I hope you can even control this behavior with the ES client.
Thx

[2020-10-21 22:19] vanthome commented on #156
Added in 0.11.0.

[2020-10-21 22:19] #156 closed

[2020-10-23 11:14] eye1 commented on #155
Is there a way I can contribute to this fix? I tried to branch the repo, but don't have permission.

[2020-10-23 12:08] vanthome commented on #155
Sorry for my late reply! Can you please provide a pull request for this?

[2020-10-23 14:23] eye1 commented on #155
I have opened the PR

[2020-11-03 17:56] TomChv commented on #115
Hi @vanthome, can you publish the last version on the repository on npm ? I would like to use the librarie with my previous MR that fix this bug

[2020-11-11 16:38] jschaufele opened #164 "Question browser transport"
I have not been able to use this for browser based logging - my interest is basically reviewing console logs real-time  during development - so i'd rather not send them to a server just to log them - do you have any suggestions - BTW thanks for all your hard work on this

[2020-11-12 09:29] vanthome commented on #164
Hi, yes, this is not going to work in a browser environment as it Winston is using primitives from node.js which are not available in the browser but only in node.js.

[2020-11-13 01:07] fahminlb33 commented on #146
Can confirm, I once tried it on my server and my container keeps crashing. Now I'm downgrading to 0.6.0 and everything works fine.

[2020-11-13 10:27] vanthome commented on #17
Is this still an issue?

[2020-11-13 13:57] #146 closed

[2020-11-15 17:03] stephenjtyler2 opened #165 "BulkWriter retry logic causes duplicates."
In bulkwriter, if a write returns any errors it retries the entire batch up the max retries count.    If one or more items in the batch succeeded and one or more failed, the bath retries cause the successful items to get duplicated.     It should remove the items that were successfully inserted before doing the retries.    This can happen if you have dodgy mapping for instance which only some log

[2020-11-18 12:45] vespialis commented on #101
any updates on this? I'm facing the same issue.

[2020-11-21 15:56] vanthome commented on #101
This is fixed a long time ago, as you can see, the PR has been merged. Please reopen, if you still have the issue.

[2020-11-21 15:56] #101 closed

[2020-11-23 15:57] omri-kornblau opened #167 "Missing specific log information inside BulkWriter 'ElasticSearch index error'"
When sending a problematic log (one that causes ES index error) to ES, It would be very helpful to have the log itself inside the error object

https://github.com/vanthome/winston-elasticsearch/blob/1e6ad57df41265978e401c48692a73a5fdb1d463/bulk_writer.js#L133-L138

[2020-11-25 20:43] #164 closed

[2020-11-25 20:44] #155 closed

[2020-11-25 23:15] #167 closed

[2020-11-26 13:27] rattkin opened #169 "question: how to debug"
I can send most of the data to apm, but I am often getting errors, that don't come from the APM.

My APM server url is apm.example.com (port implied at 443)

However I'm getting often there errors in my node console:
[code]
I realize this is not winston problem, but please how can I tell what is Winston trying to do?

I think it comes 30 seconds after sending data (the data gets to APM)

[2020-12-09 16:49] JannikZed commented on #156
some kind of docs would be great for that feature ..  I was looking for it as well because of a serverless environment.

[2020-12-09 21:40] vanthome commented on #169
you can set the following environment variable:

`export DEBUG=winston:elasticsearch`

Then you should see debug statements in the console like this:https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L90

This might help to correlate.

[2020-12-09 21:40] #169 closed

[2020-12-09 21:53] vanthome commented on #156
see here: https://github.com/vanthome/winston-elasticsearch#manual-flushing

[2020-12-19 00:14] epechuzal opened #172 "ElasticSearch index error: Open Distro Security not initialized for indices:data/write/bulk[s]"
We have been using this package for a while, but noticed that occasionally our applications crash with this error:

[code]

I am not sure what this means - our ElasticSearch cluster settings have not changed, and when I restart the application everything works fine again (until this error comes back at some random time).

Is there anything you can suggest? Is it possible to catch this error and at

[2021-01-08 11:19] migka2012 opened #174 "How to connect elasticsearch with credentials?"
I tried these codes below but it did not work because I saw no index created in elasticsearch.
Please help
`var winston = require('winston');
var Elasticsearch = require('winston-elasticsearch');

const esTransportOpts = {
  level: 'info',
  clientOpts: {
    node: 'http://localhost:9200',
    auth:{
      username: 'elastic',
      password: 'jmango360'
    }
  }
};

const elasticSearch = new Ela

[2021-01-12 09:08] migka2012 commented on #174
As I was encountering an issue "ElasticsearchTransport is not a constructor", I downgraded wiston-elasticsearch to 0.7.12. As a result, the issue above occurred.

I can fix the issue by using the latest version of wiston-elasticsearch and
`import {ElasticsearchTransport} from "winston-elasticsearch";`

[2021-01-12 09:08] #174 closed

[2021-01-18 12:04] ximiluliyi opened #175 "Open Distro Security not initialized."
Run command：
curl -XGET https://localhost:9200 -u admin:admin -k

return:

Open Distro Security not initialized.

![image](https://user-images.githubusercontent.com/40221289/104913323-65222580-59c8-11eb-8fb0-ead4f75951b9.png)

[2021-02-15 12:11] tvedtorama opened #177 "Failed to index to ES 7.9.3"
We use winston-elasticsearch on a number of servers, where most have older ES instances.  On our 7.9.3 server we get this cryptic message when trying to log data:

[code]

I traced that down "data streams", which I admittedly have no idea what is, then tried to configure W-E with {dataStreams: false}.  However, the errors persists.  What can be the reason?

I am running on 0.13.0

[2021-02-16 11:47] vanthome commented on #177
can you try to set the `datastream` config option to `true` and let me know whether that fixed it?

[2021-02-16 12:40] tvedtorama commented on #177
@vanthome - yes it did!

Thank you - but this is bit confusing to me.  What's causing this configuration, which works with < 7.9 to fail on 7.9?

[2021-02-18 10:28] willi2i opened #178 "Specifying types in bulk requests is deprecated"
Im sure it will be my setup as new to Elasticsearch, but I am plagued with this error/warning message

warning: '299 Elasticsearch-7.11.0-8ced7813d6f16d2ef30792e2fcde3e755795ee04 "[types removal] Specifying types in bulk requests is deprecated."',

Help would be greatly received

versions:
"winston": "^3.3.3",
"winston-elasticsearch": "^0.12.3"
elasticsearch:7.11.0

[2021-02-21 12:49] vanthome commented on #177
well obviously the logger tries to write the data into a data stream, maybe that's also because of the index pattern you use.
Can you tell me whether the issue got fixed by my proposal?

[2021-02-22 10:47] luthv commented on #165
also IMHO the default retryLimit set at 400 retries is too high

[2021-03-01 21:28] vanthome commented on #178
Fixed in release 0.15.0. Pleas try and reopen if the issue persists.

[2021-03-01 21:28] #178 closed

[2021-03-19 22:48] litti commented on #172
This seems to be an Elasticsearch issue: https://discuss.opendistrocommunity.dev/t/open-distro-security-not-initialized/489

[2021-03-19 22:48] litti commented on #175
This seems to be a configuration or Elasticsearch issue: https://discuss.opendistrocommunity.dev/t/open-distro-security-not-initialized/489

[2021-03-19 22:59] epechuzal commented on #172
That's fair - is there a way to catch errors in bulk writing? What happens now is I write logs and they go through, but when the bulk_writer throws it also makes my application stop as its uncaught.

[2021-03-19 23:08] vanthome commented on #175
...If not please reopen.

[2021-03-19 23:08] #175 closed

[2021-03-19 23:25] vanthome commented on #165
fixed with version `0.15.3`.

[2021-03-19 23:25] #165 closed

[2021-03-20 01:23] litti commented on #172
Hm, do you have the actual very version installed? You can also have a look at https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L178-L185 - there the error is emitted and you should be able to handle it in your code. Did you see the example here: https://github.com/vanthome/winston-elasticsearch#usage? If nothing of these helps, please provide some code.

[2021-03-25 15:00] frankdavidcorona opened #183 "UnhandledPromiseRejectionWarning: Error: ElasticSearch index error."
Hi, on high demand writing logs, I'm getting the described error:

[code]

I'm using it with a custom transport:

[code]
Sample usage:

[code]

Currently running 0.15.3 version.

[2021-03-25 20:30] epechuzal commented on #172
@litti thank you for pointing out the error handlers! I will implement and come back if I still see issues: my guess is this will fix my problems though

[2021-03-25 20:30] #172 closed

[2021-03-29 07:41] adam-risberg commented on #183
For some reason elastic search is rejecting some of your logs, if this happens winston-elasticsearch will retry sending the problematic logs. Have you noticed any missing logs elastic search?

[2021-04-02 15:45] frankdavidcorona commented on #183
So far I've not noticed missing logs, but I need to go in deep reading all logs because I'm sending some bulks of logs for some specific actions.

[2021-04-06 16:20] Nebojsa92 commented on #183
I'm getting same error. It writes one or two documents, but than displays this error. If I change index, it writes 1-2 documents and again throws this error.

[2021-04-07 15:28] Nebojsa92 commented on #183
Yes. I resolved that problem, but the issue still occurred. I did some further debugging:
 -  I put `console.log(response.body.items[0])` in bulk_writer.js on line 134 where I found more details.
 -  Got following: `{
  index: {
    _index: 'localhost-8080',
    _type: '_doc',
    _id: 'KRLtrHgBYfmpqmHMpjZH',
    status: 400,
    error: {
      type: 'mapper_parsing_exception',
      reason: 'obje

[2021-04-07 20:31] vanthome commented on #183
see here: https://vishnuatrai.com/blog/2017/12/20/elasticsearch-mapper-parsing-exception/

Could it be that you log the message somewhere as `logger.info(message)` where the message is an object and in other places it's a string?

[2021-04-08 09:10] Nebojsa92 commented on #183
Hello! I managed to resolve that issue by splitting into different indexes. I just wanted to provide a way to @frankdavidcorona to investigate further.
Thanks anyway!

[2021-04-08 12:19] adam-risberg commented on #183
I think it would help if the bulk writer logs the errors coming from elastic search. I also had issues with elastic search accepting my logs because some field changed datatype which was difficult to debug.

[2021-04-08 12:25] vanthome commented on #183
ok, would it have helped if I output the error on this line:

https://github.com/vanthome/winston-elasticsearch/blob/master/bulk_writer.js#L141

using `console.log()`?

[2021-04-09 11:23] vanthome commented on #183
I have done this with version `0.15.4`. Can we close this then?

[2021-04-20 19:43] quantropi-cmckenzie opened #184 "TypeError: this.client.bulk is not a function"
Hi all.

Trying to use Winston with Logstash (I guess its how logging to ElasticSearch works these days) and I'm running into a world of issues, but this one is out-of-the-box. With Elasticsearch 0.7.12 (with accompanying Kibana and Logstash) winston-elasticsearch 0.15.4 and winton 3.3.3, when I setup my logger, during runtime when I try to log it gets to the ES transport:

[code]

Here's the full

[2021-04-20 19:58] quantropi-cmckenzie commented on #184
Debugging it a bit, the bulk_writer.js line 126 calls this.client.bulk() and client doesn't have a bulk function attached. Client is just an object/dict with all my configured client settings. There is a reference to the ES bulk API support: https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/7.x/bulk_examples.html

The bulk API constructs from an ES module Client object. That obje

[2021-04-20 20:29] quantropi-cmckenzie commented on #184
Alright. I'll take the hit and say its user error. I was passing my client options into the ElasticsearchTransport() as `client` not `clientOpts`. Once I did I started getting proper errors, like host unreachable, etc... I'm getting logs proper now. Thanks.

[2021-04-20 20:29] #184 closed

[2021-04-21 06:11] efratha94 opened #185 "App doesn't write to Logstash except one logger"
Hi,
I tried connecting my app to Logstash & ES with winston and winston-elasticsearch, but for some reason, there's only one logger.log function that writes to Logstash, from main.js, while all other logger.log don't get logged (from main.js and from other modules).

This is my logger.js module:

[code]

This is my main.js, which has several logger.log functions:

[code]

The logger at the bottom,

[2021-06-01 11:30] peey commented on #125
A bigger issue is that this silently fails. Versions:

[code]

I had to deduce that the problem was actually here with a lot of trial and error. The package should instead throw an error / cause connection failure to elastic in case of incorrect configuration.

[2021-06-01 20:17] brunoosilva opened #187 "Duplicate documents"
Hello,

I'm having a problem with an application that receives a lot of requests and multithread, and this log is at the beginning, but for some reason, sometimes it's duplicating the documents. What could be happening?

![image](https://user-images.githubusercontent.com/3465257/120384807-05844100-c2fd-11eb-9a15-1c2c7455b089.png)

[2021-06-02 05:48] vanthome commented on #187
Are you using the latest version and can you try to set `buffering` to `false` and tell me whether it's still occurring?

[2021-06-09 07:44] faizan-turing commented on #102
for me it was empty nodeUrl

[code]

[2021-06-09 13:42] Benraay opened #188 "indexSuffixPattern and indexPrefix are throwing errors when set"
option
indexSuffixPattern:"[YYYY.MMM.DD]"

is throwing this error
indexError: {
    type: 'invalid_index_name_exception',
    reason: 'Invalid index name [logs-YYYY.MMM.DD], must be lowercase',
    index_uuid: '_na_',
    index: 'logs-YYYY.MMM.DD'
  },

and if I set
indexPrefix:"logs-mycustom"

esTransport Error caught ResponseError: illegal_argument_exception
    at onBody (/Users/***/***/***/nod

[2021-06-11 19:13] vanthome commented on #102
So anything missing in the README?

[2021-06-14 09:52] vanthome commented on #188
The problem is that you should specify the pattern as `YYYY.MMM.DD` and not `[YYYY.MMM.DD]`.

[2021-06-14 09:52] #188 closed

[2021-06-14 14:25] weathered-fire-2600 commented on #187
I faced a similiar issue... But in my case only one log entry got written to elasticsearch. Setting the option `buffering` to `false` solved this problem.

winston-elasticsearch 0.15.6
@elastic/elasticsearch 7.13.0

[2021-06-16 13:30] brunoosilva commented on #187
Hi @vanthome , work fine, tks!

[2021-06-16 13:30] #187 closed

[2021-06-18 08:43] ronycohen commented on #102
Hi @vanthome , I really think something is missing in your readme.
Your example doesn't work at all:

[code]

We don't understand that we have to  declare some E.S Host options.

[2021-06-25 15:38] peey commented on #125
This is a flaky bug. It sometimes happens and sometimes doesn't. Anyways, the problem goes away if I create the template myself.

[2021-06-29 15:11] Benraay opened #190 "impossible to make indexPrefix working"
Hi,
thanks for the job you made on this, it was really helpful for me, however I can't get the "indexPrefix" option working

I tried adding it like this
`const esTransportOpts = {
    level: 'info',
    clientOpts: { node: "XXXXX" },
    source: NODE_ENV,
    indexPrefix:"scraper"
};`

But I always have an error "illegal_argument_exception"

Is there any other parameter I need to set ?
for now I'm

[2021-07-02 17:48] jremerich opened #191 "Elasticsearch is not a constructor"
Hi!

I'm trying to use as a correlation with Elastic APM and following docs I did the code below:

[code]

But it fails showing an error message: `Elasticsearch is not a constructor`

The APM is configured and working correctly.

I'm using Node.js 12 (docker image `node:12-alpine`) without typescript.

Thanks!

[2021-07-07 01:01] jremerich commented on #130
@gpradeepjain Did you solve this problem? I think I'm having the same problem

[2021-07-07 05:04] gpradeepjain commented on #130
I updated the winston elastic search and all worked fine.

[2021-07-09 13:05] vanthome commented on #117
I guess we can close this by now. Please reopen if it persists.

[2021-07-09 13:05] #117 closed

[2021-07-09 13:07] vanthome commented on #191
well this does not seem to follow the docs, just look here: https://github.com/vanthome/winston-elasticsearch#usage

[2021-07-09 13:07] #191 closed

[2021-07-11 20:59] jremerich commented on #191
Hi!

I'm following the docs where it says "Logs correlation with Elastic APM", here: https://github.com/vanthome/winston-elasticsearch#logs-correlation-with-elastic-apm

However, I tried using as you mentioned and brings an error saying something like "getBody is empty", so I debug this and elasticsearch libs and I saw that when I run the code it tries to startup the index and his mapping on file

[2021-07-15 20:43] vanthome commented on #191
Why are you providing the `apm` instance to the logger as well?
Apart from that where in `bulk_writer.js` are you getting this code?
Also you might run your application with `export DEBUG=winston:elasticsearch`. Maybe you see more debug output then.

[2021-07-15 21:46] vanthome commented on #190
For me this is working fine with the latest version. I just set in `test.js`  in the options `indexPrefix: 'scraper'`
and after running the test, I have an index called `scraper-2021.07.15`.
Are you using the latest version?

[2021-07-16 13:45] Benraay commented on #190
Hi, here is the whole error message : `illegal_argument_exception: [illegal_argument_exception] Reason: index template [template_scraper] has index patterns [logs-app-default*] matching patterns from existing templates [template_logs] with patterns (template_logs => [logs-app-default*]) that have the same priority [200], multiple index templates may not match during index creation, please use a di

[2021-07-20 13:30] vanthome commented on #190
I suppose you are using an ES instance that might already have older indexes. Can you maybe try to rempty all data in your ES instance and let the logger set the templates etc. anew?

[2021-08-11 15:35] eye1 opened #194 "support for indices with sequential numbering"
I have been trying to set ILM policy for the logs generated via this plugin.

Currently, we use indexSuffixPattern [YYYY.MM]. In this format, it is not possible to do ILM policy well.

Is there a way to use sequence notation with -0000001?

[2021-08-11 20:23] vanthome commented on #194
Hmm, you expect the index number then to be incremented automatically? If not, just use a static index name (w/o suffix).

[2021-08-13 15:26] eye1 commented on #194
I have found a way it seems so. Still, need to deploy it to production but the initial test has shown success.

First, it's needed to bootstrap the initial index manually
[code]

Then instead of using parameters:
`indexPrefix ` and `indexSuffixPattern`

I used

`index` [none | when dataStream is true, logs-app-default] The index to be used. This option is mutually exclusive with indexPrefix.

Now

[2021-08-14 07:59] vanthome commented on #194
yes that's what I had in mind,

[2021-08-14 17:01] vanthome commented on #194
So we can close this?

[2021-08-18 17:44] eye1 commented on #194
I have deployed to production and all looks good. I am though getting a warning on regular basis

[code]

Any idea why?

[2021-08-19 12:26] vanthome commented on #194
well you have obviously two competing index patterns. Maybe you had one already or created earlier? If you can, I suggest delete the whole index and start up the system again. The logger will create a pattern automatcially then.

[2021-08-19 13:28] eye1 commented on #194
I am not sure about this, but I believe both templates are created by the plugin itself.
<img width="781" alt="2021-08-19_15-25-08" src="https://user-images.githubusercontent.com/4639650/130076727-5dce06a1-625e-4874-8895-a4f352cdb721.png">

The one that I marked on the screenshot is maybe used for the data streams approach. I was thinking to delete it as I do not use streams. Not sure of the conse

[2021-09-19 12:19] dyaacov opened #201 "Cannot connect to ES"
Hi All,

I have an openSearch service  in AWS (former ElasticSearch)

when I use curl in the same ecs pod, **it works**.
when I try with winston, I get a general error

-- same code worked in a different environment with EKS and ElasticSearch --

**Cannot connect to ES
at /app/node_modules/winston-elasticsearch/bulk_writer.js:245:20**

any tip where I should begin to investigate?

Thanks
Dekel

[2021-09-19 12:49] vanthome commented on #201
Maybe try to create an ES Client outside of winston-elasticsearch and pass it using the `client` option?

[2021-09-19 17:01] dyaacov commented on #201
After using DEBUG

`DEBUG=* node LoggerTEST.js`
Found the error:

(node:29001) UnhandledPromiseRejectionWarning: ProductNotSupportedError: The client noticed that the server is not Elasticsearch and we do not support this unknown product.

[2021-09-19 18:47] #201 closed

[2021-09-22 16:59] yacineBR opened #203 "ensureIndexTemplate and indexTemplate not working"
I want to add **mappings** to the index using **indexTemplate** .
i set **ensureIndexTemplate** to **true** and i put `indexTemplate: {
      mappings: {
        properties: {
          ray_id: {
            index: true,
            type: "keyword",
          },
          age: {
            type: "integer",
          },
        },
      },
    }`
    but nothing happened.

[2021-09-23 03:10] ivan901229 commented on #203
I have the same problem.

[2021-09-26 14:47] asmafakhfakh commented on #203
same issue

[2021-09-26 14:48] zeinMch commented on #203
same problem :(

[2021-09-26 15:02] SondessLarbi commented on #203
I have the same issue

[2021-10-01 11:35] vaibhavpatil-symblai opened #204 "Getting error for node version nvm use v8.9.4"
rror: uncaughtException: Unexpected token *
/Users/vaishnavi/Documents/workspace/prs/conversation-api/node_modules/winston-elasticsearch/node_modules/@elastic/elasticsearch/lib/Helpers.js:75
  async * scrollSearch (params, options = {}) {
        ^

SyntaxError: Unexpected token *
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:617:

[2021-10-01 11:55] vaibhavpatil-symblai commented on #204
async * scrollSearch (params, options = {}) {
    if (this[kMetaHeader] !== null) {
      options.headers = options.headers || {}
      options.headers['x-elastic-client-meta'] = this[kMetaHeader] + ',h=s'
    }

[2021-10-01 12:21] vanthome commented on #204
Completely unrelated, this error is not even in this module!

[2021-10-01 12:21] #204 closed

[2021-10-01 12:26] vaibhavpatil-symblai commented on #204
@vanthome thanks for quick reply
this error coming out for nvm  v8.9.4, do you require any details from me?

[2021-10-01 12:59] vanthome commented on #204
You are abusing this issue tracker, this is not for asking novice questions.

[2021-10-04 10:27] vanthome commented on #203
are you using data streams (`dataStream: true` ) and what means "but nothing happened."? Does that mean the template is not created?

[2021-10-05 08:34] yacineBR commented on #203
Yes the template is not created, I'm not using data streams .

[2021-10-12 15:45] #194 closed, assigned to nobody

[2021-10-13 11:20] machao23 commented on #201
@dyaacov I ran into the same issue, can you please tell me how to solve this issue?

[2021-10-21 12:44] thiago-negri commented on #203
Which version of ES are you running?

I am trying to upgrade my plugin version, and I just found out 0.14.0 introduced a breaking change that only works on ES 7.8+. The new index template was introduced on ES 7.8, and those running 7.7- are bound to the legacy index template API calls.

[2021-10-21 12:47] thiago-negri opened #205 "0.14.0 introduces a breaking change for ES 7.7"
Opening the issue just in case you want to add that to the README/CHANGELOG file. I'm currently running ES 7.7 and I can't upgrade the plugin past 0.13.0, because 0.14.0 requires the new index template API, which is only available on ES 7.8+.

The specific change that breaks it:
https://github.com/vanthome/winston-elasticsearch/commit/e3f0b7a52ef37d9f4b2a31f28c30f59bf2e56b85#diff-8fd595d5134a276ec

[2021-11-22 12:44] 2-amithap opened #206 "ReferenceError: before is not defined"
im getting below error when running the test.js file.

before(() => {
^

ReferenceError: before is not defined
    at Object.<anonymous> (C:\Users\user\Documents\dc-winston-es\test\test.js:53:1)
    at Module._compile (internal/modules/cjs/loader.js:1085:14)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1114:10)
    at Module.load (internal/modules/cjs/loader.js:950:32)

[2021-11-30 09:43] USSliberty opened #207 "Regression on log duplication"
Hello, we are experiencing log duplication due to the retry mechanism, in the same way happened here:
#187

The trick of set `buffering: false` works, however this is a not-so-efficient solution.  I saw also that this PR #182 claims to solve the error. There was a regression on that?

[2021-12-08 09:41] vanthome commented on #207
the patch has been merged and is available in the latest release.

[2021-12-08 09:41] #207 closed

[2021-12-08 09:42] vanthome commented on #206
Probably an issue with your node version.

[2021-12-08 09:42] #206 closed

[2021-12-08 09:42] vanthome commented on #203
I have added more debug code for this. So please try with the latest release and enable debug output.

[2022-01-07 10:49] prajjwaldimri opened #208 "Wrong severity being sent to elastic server"
For some reason, winston-elasticsearch is prepending [32m and appending [39m on every log.

Here's how I have configured the transport.

winston-elasticsearch : ^0.16.0
Elasticsearch: 7.15.2

[code]

JSON document on kibana
[code]

What could be causing this issue? Thanks

[2022-01-07 10:57] prajjwaldimri commented on #208
Alright. Found the solution.

I was using winston.format.cli() in the format property of the logger that uses this transport which was adding this color property around severity.

[2022-01-07 10:57] #208 closed

[2022-01-17 14:54] eduhenke opened #209 "Lots of log messages in production"
Sometimes it happens that I receive an ES indexing error in production. When that happens I get bombarded with a ton of error messages about the indexing error, coming from this line: https://github.com/vanthome/winston-elasticsearch/blob/9111f401b95288233c0908423fb68efb5e6291d0/bulk_writer.js#L141

I don't understand why that's necessary, we have the `debug` line above it, if I'm interested in ch

[2022-01-19 12:32] vanthome commented on #209
No, you cannot turn this off, as it's a kind of last resort logging. What kind of indexing error do you get? Is that error even expected in your case?

[2022-01-19 13:07] eduhenke commented on #209
It was about a "dynamic mapping error", in which a field I was logging, was already mapped in that index but with a different type, and If I recall correctly there was another class of errors.

But nonetheless, all my logging is done via `winston`, in which I can control which log levels and to where I want my log to go.

When it's simply being done via console, I can not control that, and the err

[2022-01-20 14:46] vanthome commented on #209
I know this kind of error and I would consider this a severe issue as you are effectively losing log data. We can't however log internal errors to ES as this is out of band data. So the last resort is to log it on the console.

I agree, I will introduce an option whether last resort logging should be conducted or not.

[2022-01-20 17:02] eduhenke commented on #209
Maybe not disabling the last resort logging, but rather passing a callback to handle that error?

I may for example choose to call Elastic APM to capture that error.

[2022-01-24 11:12] vanthome commented on #209
Created a new release with the new option `internalLogger`. Please test it and reopen the issue if it does not work.

[2022-01-24 11:12] #209 closed

[2022-01-24 11:17] vanthome commented on #205
added a hint.

[2022-01-24 11:17] #205 closed

[2022-01-31 13:36] mskec commented on #177
I have the same issue after upgrading from ES 7.10.x to ES 7.16.x.

Error is gone with `dataStrea: true`, but then I cannot change `indexPrefix` and `indexSuffix`, and the index defaults to `logs-app-default`.

I use version `0.15.6` (aws/ES licensing issue).
[code]

Do you have an idea why is the error happening?

[2022-02-09 06:19] Adizbek commented on #209
@vanthome  Still ~ 400 message

[2022-02-09 08:39] vanthome commented on #209
This bug is not about a lot of messages, this bug is about being able to override the last resort logger. So open a new issue and explain it.

[2022-02-09 13:46] eduhenke commented on #209
@vanthome forgot to reply, but it worked nicely! thanks. only the typing for the internalLogger was not set, I had to do a `//@ts-ignore`

[2022-02-20 23:07] qolity opened #210 "Support for OpenSearch clients"
As you are probably aware, OpenSearch has been forked as the open-source continuation of Elasticsearch due to Elastic co changing the license terms. https://github.com/opensearch-project/OpenSearch

We upgraded the log services to use OpenSearch as a result, but the Elasticsearch client that winston-elasticsearch uses now emits a warning:

If possible adding support for Opensearch would a great fe

[2022-02-22 19:50] simon-tannai opened #211 "EMFILE: too many open files"
Hello !

I have this error message from a Node.js server running from an AWS Lambda:
[code]

My configuration:
[code]

First of all, this error happened as well I'm not in `development` or `production` env.
Also, it seems to come from `ensureIndexTemplate: true`. So, I put it to `false` but it changed nothing.

How can I fix it ?

[2022-02-22 19:53] vanthome commented on #210
I'm not inclined to support bad actors like Amazon by adapting this software for them. Feel free to create a PR and I would add it.

[2022-02-22 19:53] #210 closed

[2022-02-22 20:26] vanthome commented on #211
Hmm, probably it complains because the file is opened to often. I know of similar issues with ES in general but not the template file. Is that maybe because of the nature of Lambdas in which the script is evaluated every time with every request?
Is there a possibility to instantiate the logger once and then share it for the coming invocations?

[2022-02-23 13:08] simon-tannai commented on #211
@vanthome after several test and debug, I created a PR  (#212) that fix this issue

[2022-02-23 17:58] AbraaoFarah opened #213 "Conditionally logging to some indexes"
In my project i have the following WinstonModuleOptions:

`
export const winstonConfig: WinstonModuleOptions = {
  levels: { verbose: 5 }
  level: 'verbose',
  transports: [
    new ElasticsearchTransport(defaultOptions),
    new ElasticsearchTransport(customOptions),
  ],
}
`

Where as you can see i can create multiples transporters, and each one will transport every single log to the instantiate

[2022-02-26 10:16] vanthome commented on #213
RTFM: https://github.com/vanthome/winston-elasticsearch#options
The `indexPrefix` can be a function.

[2022-02-26 10:16] #213 closed

[2022-03-08 06:26] JojiePalahang opened #214 "Unable to Connect to ElasticSearch 7.15.2"
Hi All,
I was using this library but receiving this message - any work around to resolve this issue

`(node:11280) ProductNotSupportedSecurityError: The client is unable to verify that the server is Elasticsearch due to security privileges on the server side. Some functionality may not be compatible if the server is running an unsupported product.`

[2022-03-21 06:16] JojiePalahang commented on #214
Hi All, I was hoping anyone can help me check this issue

[2022-03-21 11:33] #177 closed

[2022-03-21 11:34] vanthome commented on #147
The problem is probably that your indexed data does not match the mapping. Reopen if you are sure it's an issue in the module.

[2022-03-21 11:34] #147 closed

[2022-03-22 03:40] nesjett commented on #17
I'm still having the issue. Although I see this MR https://github.com/vanthome/winston-elasticsearch/pull/141

I'm using:
`
"winston": "^3.6.0",
"winston-elasticsearch": "^0.16.1"
`

[2022-03-22 20:21] vanthome commented on #17
ok, can you try to do the follwoing (maybe you even already know): what if you set `buffering` to `false`, then I suppose the issue is gone?
In this case, I think, we can try to add a `this.bulkWriter.stop()` here with enabled buffering:

https://github.com/vanthome/winston-elasticsearch/blob/master/index.js#L107

Maybe you can even try this?

[2022-04-04 03:05] jlison opened #216 "Version bump and publish latest PR merge "elasticsearch 8 support" to npm"
Hi there 👋🙂

Thank you for merging the fixes for ES v8 https://github.com/vanthome/winston-elasticsearch/pull/215

I believe we are missing a version bump from 0.16.1 to 0.16.2 and an `npm publish` so the new changes are available to the package manager: https://www.npmjs.com/package/winston-elasticsearch

[2022-04-14 22:09] epechuzal commented on #210
@vanthome you dont need to support it as this package already works with opensearch

If you get too many issues or questions on it then the easy workaround to tell people is to just create an opensearch client and feed it to the `client` attribute in the transport opts

[2022-04-20 08:35] vanthome commented on #210
@epechuzal  yes, that is what I have expected anyways that it works. thx for confirming.

[2022-05-04 13:00] Ostico opened #218 "Indefinite retry and elastic search index pollution"
When a log event fails on elasticsearch ( even if it accept the event ) the message is re-sent multiple times ( a single event can be logged on ESearch 320 times ):

[code]

[2022-05-04 14:02] MonksterFX commented on #214
Do you use elastic cloud?

[2022-05-04 14:08] vanthome commented on #214
Sorry but the library is not your problem.

[2022-05-14 22:10] vanthome commented on #203
Can someone follow up on this? Is this an issue with the ES version you are running?

[2022-05-14 22:29] vanthome commented on #218
Can you try to reduce the `retryLimit` option? Its default is 400 and after that it should five up.

[2022-06-05 14:33] mashkovtsev opened #219 "Duplication of logs when an ES error occurs"
Hi,
we are faced with the problem of duplicating non-erroneous logs, when erroneous logs occur.

Reproduced on:
- Node.js 12.*
- elastic search: 7.*
- winston-elasticsearch: 0.16.1

I have prepared a demo: https://github.com/mashkovtsev/demo-bug-winston-elasticsearch.

Thanks!

[2022-08-18 17:31] eye1 commented on #218
Hello,

We encountered the same issue. I think this is even worse when you have many logs in the buffer. Then all of them got inserted 400? times and it went bananas real quick. If we turn off retries ultimately? What about buffering can it also be turned off?

[2022-10-06 09:32] kuldarim commented on #218
@eye1

There are two things with buffering wich you can control.

[code]

[2022-10-10 09:02] mobiusy commented on #219
You can set `retryLimit: -1` in temporary before this bug fixed.

[2022-11-28 09:47] Sirichakorn opened #227 "Got message "(node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 abort listeners added to [EventEmitter]" when deploy in k9s and scale up to more than one repica"
Got message "(node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 abort listeners added to [EventEmitter]" when deploy in k9s and scale up to more than 1 repica and then log don't send to elasticsearch.

winston-elasticsearch version 0.17.1
my config
[code]

Has anyone encountered it and how did you fix it?